@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,700,800&amp;subset=hebrew');

@f: 'Assistant', sans-serif;
@x: 100vw/1920;

@green: #abd038;
@darkgreen: #001c14;
@middlegreen: #107055;
@yellow: #ffd92a;
@white: #ffffff;
@black: #000000;

@h1size: 70*@x;

@web:   ~"only screen and (min-width: 1120px)";
@tablet:   ~"only screen and (min-width: 800px) and (max-width: 1119px)";
@mobile:   ~"only screen and (min-width: 0px) and (max-width: 799px)";



// Icons
#iconsParallaxPage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  animation: breathe 5s infinite;
  transform-origin: 100% 50%;
}

// Icons
.icon-left(@width, @height, @left, @top) {
  position: absolute !important;
  width: @width;
  height: @height;
  left: @left !important;
  top: @top !important;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-right(@width, @height, @right, @top) {
  position: absolute !important;
  width: @width;
  height: @height;
  left: auto !important;
  right: @right !important;
  top: @top !important;
  background-size: contain;
  background-repeat: no-repeat;
}
// Green dots
#section-blog,
#section-page-content {
  .dots {
    .dot {
      background: @darkgreen !important;
    }
  }
}



h1 {
	margin: 0;
	text-align: center;	
	font-weight: 800;
	font-size: @h1size;
	
}


#section-blog,
#section-blog-page,
#section-page-content{
	position: relative;
	background-color: @green;
	
	h1 {
		padding: 0*@x 0 0 0;
		color: @middlegreen;
	}
}
.page-content {
	width: 1110*@x;
	margin: 0 auto;
	padding: 65*@x 10px 100px 10px;
}

.portfolio-list {
	display: flex;
	flex-direction: row;
	justify-self: auto;
	flex-wrap: wrap;
	
	.portfolio-item {
		width: 25%;
		display: inline-block;
		
		img {
			display: block;
			width: 100%;
		}
		
		.info {
			width: 100%;
			height: 0;
			background-color: rgba(0,28,20,0.78);
			position: absolute;
			bottom: 0px;
			right: 0px;
			z-index: 5;
			text-align: center;
			overflow: hidden;
			transition-duration: .5s;
			
			
			img {
				display: inline;
				width: 100*@x;
				height: 93*@x;
				margin-top: 50*@x;
				margin-bottom: 40*@x;
			}			
		}
		
		&:hover {
			
			.info{
				height: 100%;
				
			}
		}
				
	}
}
#section-page-content{
	.icon-insta-black {
	  .icon-left(28*@x, 32*@x, 166*@x, 215*@x);
	}
	.icon-heart-black {
	  .icon-left(90*@x, 85*@x, 250*@x, 477*@x);
	}
	.icon-thumbs-black {
		.icon-left(120*@x, 125*@x, 120*@x, 850*@x);
	}
	.icon-glasses {
		.icon-right(135*@x, 25*@x, 180*@x, 290*@x);
	}
	.icon-youtube-black-1 {
		.icon-right(155*@x, 71*@x, 75*@x, 620*@x);
	}
	.icon-chat {
		.icon-right(105*@x, 105*@x, 232*@x, 916*@x);
	}
}
#filters {
	margin: 28px 0;
	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		
		li{
			list-style: none;
			line-height: 49px;
			padding-left: 18*@x;
			padding-right: 18*@x;
			background-color: @middlegreen;
			cursor: pointer;
			color: @yellow;
			font-size: 30px;
			font-weight: bold;
			position: relative;
			transition-duration: 0.3s;
			
			
			
			&:nth-child(1):before,
			&:nth-child(1):after,
			&:last-child:before,
			&:last-child:after {
				width: 5px;
				height: 5px;
				background-color: @green;
				position: absolute;
				content:"";
			}
			
			&:nth-child(1):before {
				top: 0px;
				right: 0px;
			}
			
			&:nth-child(1):after {
				bottom: 0px;
				right: 0px;
			}
			
			&:last-child:before {
				top: 0px;
				left: 0px;
			}
			
			&:last-child:after {
				bottom: 0px;
				left: 0px;
			}
			
			&:hover,
			&.is-checked {
				background-color: @yellow;
				color: @middlegreen;
			}
		}
	}
}
.portfolio-item-title {
	color: @yellow;
	font-size: 30*@x;
}
.portfolio-item-description {
	color: @white;
	font-size: 21*@x;
}
.logo-visible {
	.logo{
		width: 77*@x;
	}
	.wrapper-flex {
		width: 950*@x;
	}
}
.yellow-button {
	text-align: center;
	
	a{
		display: inline-block;
		font-size: 20*@x;
		text-decoration: none;
		background-color: @yellow;
		position: relative;
		padding: 12*@x 57*@x;
		cursor: pointer;
		color: @black;
		transition-duration: 1s;
		
		&:hover {
			color: @yellow;
			background-color: @black;
		}
		
		&:before,
		&:after {
			width: 5px;
			height: 5px;
			background-color: @green;
			position: absolute;
			content:"";
			z-index: 999;
		}
		&:before {
			bottom: 0px;
			right: 0px;
		}
		&:after {
			bottom: 0px;
			left: 0px;
		}
		
		span{			
			
			&:before,
			&:after {
				width: 5px;
				height: 5px;
				background-color: @green;
				position: absolute;
				content:"";
				z-index: 999;
			}
			&:before {
				top: 0px;
				right: 0px;
			}
			&:after {
				top: 0px;
				left: 0px;
			}
		}
		
	}		
}/* end .yellow-button */


.hide-web {
	display: none;
}
.portfolio-page-content {
	
	.slick-portfolio-page.slick-slider {
		margin: 0;
		
		&:before,
		&:after {
			display: none;
		}
	}
	
	.portfolio-right-col {
		width: 50%;
		height: 409*@x;
		float: right;
		overflow: hidden;
		position: relative;
		
		img {
			display: block;
			width: 100%;
		}
	}
	.portfolio-left-col {
		background-color: @yellow;
		height: 409*@x;
		width: 50%;
		display: inline-block;
		
		.portfolio-left-info {
			padding: 45*@x 55*@x 0*@x 145*@x;
			font-size: 23*@x;
			color: @black;
			line-height: 28*@x;
			position: relative;
			
			&:after {
				width: 135*@x;
				height: 222*@x;
				position: absolute;
				content:"";
				left: 10*@x;
				top: 228*@x;
				background-image: url(../img/stylish-boy.png);
				background-size: cover
			}
		}
		
	}
	
}
.portfolio-page-bottom-navigation {
	margin: 17*@x auto 42*@x;
	overflow: hidden;
	
	.yellow-button{
		float: right;
		
		a{
			font-size: 30*@x;
			padding: 5*@x 57*@x;
		}
	}
	
	.simple-nav {
		width: 84*@x;
		margin: 0 auto;
		padding-top: 13*@x;
		
		.simple-right-arrow,
		.simple-left-arrow {
			/*background-size: cover;*/
			width: 30*@x;
			height: 25*@x;
			cursor: pointer;
			position: relative;
			
		}
		
		.simple-right-arrow {
			/*background-image: url(../img/arrow-right-long-black.png);*/
			float: right;
			
			/*&:hover {
				background-image: url(../img/arrow-right-long-yellow.png);
			}*/
		}
		.simple-left-arrow {
			/*background-image: url(../img/arrow-left-long-black.png);*/
			float: left;
			
			/*&:hover {
				background-image: url(../img/arrow-left-long-yellow.png);
			}*/
		}
	}
	.only-mob {
		display: none;
	}
}



.portfolio-bottom-info {
	margin-bottom: 50*@x;
}

body.single,
.blog,
.page-blog {
	#section-home {
		height: 250*@x;
		position: relative;
		background: #000 url(../img/bg-home.jpg) center center;
		background-size: cover;

		.logo {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -102*@x 0 0 -230*@x;
		}

		.spot {
			position: absolute;
			right: 0;
			top: 165*@x;
			width: 272*@x;
			height: 529*@x;
			background: url(../img/spot.png);
			background-size: 100%;
		}
		h1 {
			padding: 90*@x 0 0 0;
			color: @white;
		}
	}
	.icon-heart {
	  .icon-left(90*@x, 80*@x, 260*@x, 89*@x);
	}
	.icon-like {
		.icon-left(60*@x, 55*@x, 578*@x, 194*@x);
	}
	.icon-insta {
		.icon-left(45*@x, 45*@x, 758*@x, 177*@x);
	}
	.icon-youtube {
		.icon-left(155*@x, 65*@x, 1312*@x, 169*@x);
	}
	.icon-insta-1 {
		.icon-left(27*@x, 27*@x, 164*@x, 134*@x);
	}
	.icon-facebook {
		.icon-left(40*@x, 40*@x, 1120*@x, 87*@x);
	}
	
	#section-blog,
	#section-page-content	{
		padding-top: 30*@x;
		
		.videos-list {
			display: flex;
			width: 1158*@x;
			margin: 0 auto;
			flex-direction: row;
			justify-self: auto;
			flex-wrap: wrap;
			padding-bottom: 135px;
			
			.video-item {
				width: 350*@x;
				height: 250*@x;
				margin: 18*@x;
				position: relative;
				cursor: pointer;
				
				img {
					width: 100%;
					display: block;
				}	
			}
		}
		@media @tablet {
			.videos-list {	
				width: 80%;
				
				.video-item {
					width: 48%;
					height: auto;
					margin: 1%;
				}
			}	
		}
		@media @mobile {
			.videos-list {	
				width: 1600*@x;
				
				.video-item {
					width: 98%;
					height: auto;
					margin: 4% 1%;
				}
			}	
		}
	}
	#section-blog-page,
	#section-page-content	{
		color: @white;
		
		/*.blog-page-container {
			width: 1120*@x;
			margin: 0 auto;
		}*/
		.back-to-blog-list {
			height: 70*@x;
		}
		.blog-page-video-container {
			width: 640*@x;
			height: 400*@x;
			margin: 0 auto;
			-webkit-box-shadow: 0px 0px 55px 5px rgba(0,0,0,0.58);
			-moz-box-shadow: 0px 0px 55px 5px rgba(0,0,0,0.58);
			box-shadow: 0px 0px 55px 5px rgba(0,0,0,0.58);
			
			img {
				width: 100%;
			}
		}
	}
	
	
	
	
	.blog-item-info-container {
		min-height: 35*@x;
		max-height: 35*@x;
		background-color: rgba(0,0,0,.4);
		position: absolute;
		bottom: 0;
		width: 100%;
		color: @white;
		overflow: hidden;
		transition-duration: 1s;
			
			a {
				color: @white;
				text-decoration: none;
			}
	}
	.video-item:hover .blog-item-info-container {
		max-height: 200*@x;
	}
	.blog-item-info-title {
		line-height: 35*@x;		
		font-weight: 800;
		padding: 0 12*@x;
	}
	.blog-item-info-summary {
		padding: 0 12*@x;
		font-size: 16*@x;
		
	}
	.back-to,
	.next,
	.previos {		
		background-repeat: no-repeat;
		color: @white;
		text-decoration: none;
		line-height: 70*@x;
		cursor: pointer;
		position: relative;
	}
	
	.back-to {
		/*background-image: url(../img/blog-arrow.png);*/
		padding-right: 40px;
		/*background-position: right center;	*/			
	}
	.blog-page-description {
		padding: 60*@x 0;
		text-align: center;
	}
	.separate {
		display: none;
	}
	.single-pagination {
		position: relative;
		height: 70*@x;
		z-index: 9;
		
		.next {
			/*background-image: url(../img/blog-arrow-left.png);*/
			float: left;
			/*background-position: left center;*/
			padding-left: 40*@x;
		}
		.previos {
			/*background-image: url(../img/blog-arrow.png);*/
			float: right;
			/*background-position: right center;*/
			padding-right: 40*@x;
		}
	}
	.single-pagination.portfolio-top-pagination {
		
		
		.next {
			/*background-image: url(../img/arrow-left-long-black.png);*/
			
			padding-left: 50*@x;
			color: @black;
			
			
		}
		.previos {
			/*background-image: url(../img/arrow-right-long-black.png);*/
			
			padding-right: 50*@x;
			color: @black;
			
			
		}
	}
}
.arrow-button {
  width: 30*@x;
  height: 25*@x;
  position: absolute;
  top: calc(50% - 12px);
  
  
  svg {
	position: absolute;
  }
  
  .svg-arrow {
      fill: @black;
		transition-duration: 0.5s;
    }
  
  &:hover {
    .svg-arrow {
      fill: @yellow;
    }
  }
}

.back-to .arrow-button {
	top: 3px;
}
.next .arrow-button,
.simple-left-arrow .arrow-button {
	left: 0;
	transform: scaleX(-1);
}
.previos .arrow-button,
.back-to .arrow-button,
.simple-right-arrow .arrow-button {
	right: 0;
	
	svg {
			right: 0;
		  }
	}
	.next,
	.previos,
	.back-to {
	
		&:hover {
			
			.svg-arrow {
			  fill: @yellow;
			}
	  }
	}