@media all and (max-width: 799px) {
  h1 {
    font-size: 11.11111111vw;
    line-height: 11.94444444vw;
    padding: 0.27777778vw 0 7.77777778vw 0 !important;
  }
  #section-home h1 {
    display: none;
  }
  .page-content {
    width: 85%;
    margin: 0 7.5%;
    padding: 2.77777778vw 0px 60px 0px;
  }
  body.blog #section-home,
  body.single #section-home,
  body.page-blog #section-home,
  body.page #section-home {
    height: 52.77777778vw !important;
  }
  body.blog .logo,
  body.single .logo,
  body.page-blog .logo,
  body.page .logo,
  body.blog .nav-main.fixed .logo,
  body.single .nav-main.fixed .logo,
  body.page-blog .nav-main.fixed .logo,
  body.page .nav-main.fixed .logo {
    width: 4.01041667vw;
    animation: none;
    height: 11.38888889vw;
    width: 25.27777778vw;
    display: block;
    margin: 4.16666667vw 25.55555556vw 0 0;
    float: none;
  }
  #section-home .icon-facebook {
    position: absolute !important;
    width: 11.11111111vw;
    height: 11.11111111vw;
    right: auto !important;
    left: 80.27777778vw !important;
    top: 35.27777778vw !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #section-home .icon-like {
    position: absolute !important;
    width: 16.66666667vw;
    height: 16.66666667vw;
    right: auto !important;
    left: 63.05555556vw !important;
    top: 7.22222222vw !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #section-home .icon-youtube {
    position: absolute !important;
    width: 49.16666667vw;
    height: 20.83333333vw;
    right: auto !important;
    left: 6.94444444vw !important;
    top: 26.94444444vw !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #section-home .icon-insta {
    display: none;
  }
  #section-home .icon-insta-1 {
    display: none;
  }
  #section-home .icon-facebook {
    display: none;
  }
  #section-home .icon-heart {
    display: none;
  }
  #section-page-content .blog-item-info-container {
    max-height: 55.55555556vw;
  }
  #section-page-content .blog-item-info-title {
    line-height: 9.72222222vw;
  }
  #section-page-content .blog-item-info-summary {
    padding: 0 3.33333333vw;
    font-size: 4.44444444vw;
  }
  #section-page-content .video-item:hover .blog-item-info-container {
    max-height: 55.55555556vw;
  }
  #section-page-content .back-to-blog-list {
    height: 11.11111111vw !important;
  }
  #section-page-content .blog-page-video-container {
    width: 100% !important;
    height: 100% !important;
  }
  .portfolio-list .portfolio-item {
    width: 100%;
    margin-bottom: 7.5%;
  }
  .portfolio-list .portfolio-item .info {
    height: 19.44444444vw;
    text-align: right;
  }
  .portfolio-list .portfolio-item .info img {
    width: 11.11111111vw;
    height: 10.27777778vw;
    float: right;
    margin-top: 4.72222222vw;
    margin-right: 5vw;
    margin-left: 4.16666667vw;
  }
  .portfolio-list .portfolio-item:hover .info {
    height: 19.44444444vw;
  }
  .portfolio-list .portfolio-item:before,
  .portfolio-list .portfolio-item:after {
    width: 5px;
    height: 5px;
    background-color: #abd038;
    position: absolute;
    content: "";
    z-index: 7;
  }
  .portfolio-list .portfolio-item:before {
    bottom: 0px;
    right: 0px;
  }
  .portfolio-list .portfolio-item:after {
    bottom: 0px;
    left: 0px;
  }
  /* end .portfolio-list */
  .portfolio-item-title {
    font-size: 6.66666667vw;
    line-height: 6.94444444vw;
    margin-top: 3.33333333vw;
  }
  .portfolio-item-description {
    font-size: 5vw;
    line-height: 5.55555556vw;
  }
  .separate {
    display: block !important;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    margin: 8.33333333vw 0;
  }
  .single-pagination {
    height: 30.55555556vw !important;
  }
  .single-pagination .back-to,
  .single-pagination .next,
  .single-pagination .previos {
    line-height: 8.33333333vw;
  }
  .single-pagination .next {
    /*background-image: url(../img/blog-arrow-mob-left.png) !important;
			background-position: left 5*@x !important;*/
    width: 29.16666667vw;
    text-align: left;
    padding-left: 11.11111111vw !important;
  }
  .single-pagination .previos {
    /*background-image: url(../img/blog-arrow-mob.png) !important;
			background-position: right 5*@x !important;*/
    width: 29.16666667vw;
    text-align: right;
    padding-right: 11.11111111vw !important;
  }
  .single-pagination.portfolio-top-pagination {
    margin-top: -16.66666667vw !important;
    margin-bottom: -16.66666667vw !important;
    position: relative;
    z-index: 0;
  }
  .single-pagination.portfolio-top-pagination .next,
  .single-pagination.portfolio-top-pagination .previos {
    width: 8.33333333vw !important;
    font-size: 0 !important;
    position: relative;
    z-index: 7;
  }
  .single-pagination.portfolio-top-pagination .next {
    /*background-image: url(../img/arrow-left-long-black.png) !important;
			background-position: left 5*@x !important;*/
    width: 31.94444444vw;
    text-align: left;
    padding-left: 8.33333333vw !important;
    /*&:hover {
				background-image: url(../img/arrow-left-long-yellow.png) !important;
			}*/
  }
  .single-pagination.portfolio-top-pagination .previos {
    /*background-image: url(../img/arrow-right-long-black.png) !important;
			background-position: right 5*@x !important;*/
    width: 31.94444444vw;
    text-align: right;
    padding-right: 8.33333333vw !important;
    /*&:hover {
				background-image: url(../img/arrow-right-long-yellow.png) !important;
			}*/
  }
  .portfolio-page-content .portfolio-right-col {
    width: 100%;
    height: auto;
    float: none;
  }
  .portfolio-page-content .portfolio-left-col {
    width: 100%;
    height: auto;
    display: block;
  }
  .portfolio-page-content .portfolio-left-col .portfolio-left-info {
    padding: 6.94444444vw;
    font-size: 5.83333333vw;
    color: #000000;
    line-height: 7.5vw;
  }
  .portfolio-page-content .portfolio-left-col .portfolio-left-info:after {
    width: 18.61111111vw;
    height: 30.55555556vw;
    position: absolute;
    content: "";
    left: 1.94444444vw;
    top: auto !important;
    bottom: -19.44444444vw;
    background-image: url(../img/stylish-boy.png);
    background-size: cover;
  }
  .portfolio-page-bottom-navigation {
    margin: 4.72222222vw auto 11.66666667vw;
  }
  .portfolio-page-bottom-navigation .yellow-button {
    float: right;
  }
  .portfolio-page-bottom-navigation .yellow-button a {
    font-size: 8.33333333vw;
    padding: 1.38888889vw 15.83333333vw;
  }
  .only-web {
    display: none !important;
  }
  .only-mob {
    display: block !important;
  }
  .simple-nav.only-mob {
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: red;
  }
  .simple-nav.only-mob .simple-right-arrow,
  .simple-nav.only-mob .simple-left-arrow {
    background-size: cover;
    width: 8.33333333vw;
    height: 6.94444444vw;
    cursor: pointer;
    position: absolute;
  }
  .simple-nav.only-mob .simple-right-arrow {
    background-image: url(../img/arrow-right-long-black.png);
    right: 5.55555556vw;
  }
  .simple-nav.only-mob .simple-right-arrow:hover {
    background-image: url(../img/arrow-right-long-yellow.png);
  }
  .simple-nav.only-mob .simple-left-arrow {
    background-image: url(../img/arrow-left-long-black.png);
    left: 5.55555556vw;
  }
  .simple-nav.only-mob .simple-left-arrow:hover {
    background-image: url(../img/arrow-left-long-yellow.png);
  }
  #section-page-content .icon-heart-black {
    position: absolute !important;
    width: 13.33333333vw;
    height: 11.94444444vw;
    left: auto !important;
    right: -4.72222222vw !important;
    top: 41.11111111vw !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #section-page-content .icon-insta-black {
    position: absolute !important;
    width: 7.5vw;
    height: 8.88888889vw;
    top: auto !important;
    left: auto !important;
    right: 4.72222222vw !important;
    bottom: 18.61111111vw !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #section-page-content .icon-glasses {
    position: absolute !important;
    width: 18.05555556vw;
    height: 2.77777778vw;
    top: auto !important;
    right: auto !important;
    left: 5.83333333vw !important;
    bottom: 10vw !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #section-page-content .icon-thumbs-black,
  #section-page-content .icon-youtube-black-1,
  #section-page-content .icon-chat {
    display: none !important;
  }
  /* end #section-page-content */
  #section-blog .videos-list,
  #section-page-content .videos-list {
    padding-bottom: 70px !important;
  }
  .yellow-button {
    text-align: center;
  }
  .yellow-button a {
    display: inline-block;
    font-size: 8.33333333vw;
    text-decoration: none;
    background-color: #ffd92a;
    position: relative;
    padding: 3.33333333vw 15.83333333vw;
    cursor: pointer;
    color: #000000;
  }
  .yellow-button a:before,
  .yellow-button a:after {
    width: 5px;
    height: 5px;
    background-color: #abd038;
    position: absolute;
    content: "";
    z-index: 999;
  }
  .yellow-button a:before {
    bottom: 0px;
    right: 0px;
  }
  .yellow-button a:after {
    bottom: 0px;
    left: 0px;
  }
  .yellow-button a span:before,
  .yellow-button a span:after {
    width: 5px;
    height: 5px;
    background-color: #abd038;
    position: absolute;
    content: "";
    z-index: 999;
  }
  .yellow-button a span:before {
    top: 0px;
    right: 0px;
  }
  .yellow-button a span:after {
    top: 0px;
    left: 0px;
  }
  /* end .yellow-button */
  #filters {
    margin: 0 0 28px 0;
  }
  #filters ul {
    display: block;
    position: relative;
    min-height: 50px;
  }
  #filters ul li {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    position: relative;
    text-align: left;
    transition-duration: .3s;
    height: 0px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 95% center;
  }
  #filters ul li:after,
  #filters ul li:before {
    width: 5px;
    height: 5px;
    background-color: #abd038;
    position: absolute;
    content: "";
    top: 0px;
  }
  #filters ul li:after {
    left: auto !important;
    right: 0px;
  }
  #filters ul li:before {
    right: auto !important;
    left: 0px;
  }
  #filters ul li span {
    margin: 0 4.16666667vw;
  }
  #filters ul li span:after,
  #filters ul li span:before {
    width: 5px;
    height: 5px;
    background-color: #abd038;
    position: absolute;
    content: "";
    bottom: 0px;
  }
  #filters ul li span:after {
    right: 0px;
  }
  #filters ul li span:before {
    left: 0px;
  }
  #filters ul li.closed {
    height: 0px;
    background-image: url(../img/filters-arrow-down.png);
  }
  #filters ul li.is-checked {
    z-index: 8;
    height: 49px !important;
    background-color: #107055;
    color: #ffd92a;
  }
  #filters ul li.opened {
    height: 49px;
    background-image: url(../img/filters-arrow-up.png);
  }
  /* end #filters*/
  .arrow-button {
    width: 8.33333333vw;
    height: 6.94444444vw;
    position: absolute;
    top: 3px;
  }
  .arrow-button svg {
    position: absolute;
    top: 0;
  }
  .arrow-button .svg-arrow {
    fill: #000000;
    transition-duration: 0.5s;
  }
  .back-to .arrow-button {
    top: 3px;
  }
  .next .arrow-button {
    left: 0;
    transform: scaleX(-1);
  }
  .next .arrow-button svg {
    left: 0;
  }
  .previos .arrow-button,
  .back-to .arrow-button,
  .simple-right-arrow .arrow-button {
    right: 0;
  }
  .previos .arrow-button svg,
  .back-to .arrow-button svg,
  .simple-right-arrow .arrow-button svg {
    right: 0;
  }
  .next:hover .svg-arrow,
  .previos:hover .svg-arrow,
  .back-to:hover .svg-arrow {
    fill: #ffd92a;
  }
}
