@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,700,800&amp;subset=hebrew');
#iconsParallaxPage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  animation: breathe 5s infinite;
  transform-origin: 100% 50%;
}
#section-blog .dots .dot,
#section-page-content .dots .dot {
  background: #001c14 !important;
}
h1 {
  margin: 0;
  text-align: center;
  font-weight: 800;
  font-size: 3.64583333vw;
}
#section-blog,
#section-blog-page,
#section-page-content {
  position: relative;
  background-color: #abd038;
}
#section-blog h1,
#section-blog-page h1,
#section-page-content h1 {
  padding: 0vw 0 0 0;
  color: #107055;
}
.page-content {
  width: 57.8125vw;
  margin: 0 auto;
  padding: 3.38541667vw 10px 100px 10px;
}
.portfolio-list {
  display: flex;
  flex-direction: row;
  justify-self: auto;
  flex-wrap: wrap;
}
.portfolio-list .portfolio-item {
  width: 25%;
  display: inline-block;
}
.portfolio-list .portfolio-item img {
  display: block;
  width: 100%;
}
.portfolio-list .portfolio-item .info {
  width: 100%;
  height: 0;
  background-color: rgba(0, 28, 20, 0.78);
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 5;
  text-align: center;
  overflow: hidden;
  transition-duration: .5s;
}
.portfolio-list .portfolio-item .info img {
  display: inline;
  width: 5.20833333vw;
  height: 4.84375vw;
  margin-top: 2.60416667vw;
  margin-bottom: 2.08333333vw;
}
.portfolio-list .portfolio-item:hover .info {
  height: 100%;
}
#section-page-content .icon-insta-black {
  position: absolute !important;
  width: 1.45833333vw;
  height: 1.66666667vw;
  left: 8.64583333vw !important;
  top: 11.19791667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
}
#section-page-content .icon-heart-black {
  position: absolute !important;
  width: 4.6875vw;
  height: 4.42708333vw;
  left: 13.02083333vw !important;
  top: 24.84375vw !important;
  background-size: contain;
  background-repeat: no-repeat;
}
#section-page-content .icon-thumbs-black {
  position: absolute !important;
  width: 6.25vw;
  height: 6.51041667vw;
  left: 6.25vw !important;
  top: 44.27083333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
}
#section-page-content .icon-glasses {
  position: absolute !important;
  width: 7.03125vw;
  height: 1.30208333vw;
  left: auto !important;
  right: 9.375vw !important;
  top: 15.10416667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
}
#section-page-content .icon-youtube-black-1 {
  position: absolute !important;
  width: 8.07291667vw;
  height: 3.69791667vw;
  left: auto !important;
  right: 3.90625vw !important;
  top: 32.29166667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
}
#section-page-content .icon-chat {
  position: absolute !important;
  width: 5.46875vw;
  height: 5.46875vw;
  left: auto !important;
  right: 12.08333333vw !important;
  top: 47.70833333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
}
#filters {
  margin: 28px 0;
}
#filters ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#filters ul li {
  list-style: none;
  line-height: 49px;
  padding-left: 0.9375vw;
  padding-right: 0.9375vw;
  background-color: #107055;
  cursor: pointer;
  color: #ffd92a;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  transition-duration: 0.3s;
}
#filters ul li:nth-child(1):before,
#filters ul li:nth-child(1):after,
#filters ul li:last-child:before,
#filters ul li:last-child:after {
  width: 5px;
  height: 5px;
  background-color: #abd038;
  position: absolute;
  content: "";
}
#filters ul li:nth-child(1):before {
  top: 0px;
  right: 0px;
}
#filters ul li:nth-child(1):after {
  bottom: 0px;
  right: 0px;
}
#filters ul li:last-child:before {
  top: 0px;
  left: 0px;
}
#filters ul li:last-child:after {
  bottom: 0px;
  left: 0px;
}
#filters ul li:hover,
#filters ul li.is-checked {
  background-color: #ffd92a;
  color: #107055;
}
.portfolio-item-title {
  color: #ffd92a;
  font-size: 1.5625vw;
}
.portfolio-item-description {
  color: #ffffff;
  font-size: 1.09375vw;
}
.logo-visible .logo {
  width: 4.01041667vw;
}
.logo-visible .wrapper-flex {
  width: 49.47916667vw;
}
.yellow-button {
  text-align: center;
}
.yellow-button a {
  display: inline-block;
  font-size: 1.04166667vw;
  text-decoration: none;
  background-color: #ffd92a;
  position: relative;
  padding: 0.625vw 2.96875vw;
  cursor: pointer;
  color: #000000;
  transition-duration: 1s;
}
.yellow-button a:hover {
  color: #ffd92a;
  background-color: #000000;
}
.yellow-button a:before,
.yellow-button a:after {
  width: 5px;
  height: 5px;
  background-color: #abd038;
  position: absolute;
  content: "";
  z-index: 999;
}
.yellow-button a:before {
  bottom: 0px;
  right: 0px;
}
.yellow-button a:after {
  bottom: 0px;
  left: 0px;
}
.yellow-button a span:before,
.yellow-button a span:after {
  width: 5px;
  height: 5px;
  background-color: #abd038;
  position: absolute;
  content: "";
  z-index: 999;
}
.yellow-button a span:before {
  top: 0px;
  right: 0px;
}
.yellow-button a span:after {
  top: 0px;
  left: 0px;
}
/* end .yellow-button */
.hide-web {
  display: none;
}
.portfolio-page-content .slick-portfolio-page.slick-slider {
  margin: 0;
}
.portfolio-page-content .slick-portfolio-page.slick-slider:before,
.portfolio-page-content .slick-portfolio-page.slick-slider:after {
  display: none;
}
.portfolio-page-content .portfolio-right-col {
  width: 50%;
  height: 21.30208333vw;
  float: right;
  overflow: hidden;
  position: relative;
}
.portfolio-page-content .portfolio-right-col img {
  display: block;
  width: 100%;
}
.portfolio-page-content .portfolio-left-col {
  background-color: #ffd92a;
  height: 21.30208333vw;
  width: 50%;
  display: inline-block;
}
.portfolio-page-content .portfolio-left-col .portfolio-left-info {
  padding: 2.34375vw 2.86458333vw 0vw 7.55208333vw;
  font-size: 1.19791667vw;
  color: #000000;
  line-height: 1.45833333vw;
  position: relative;
}
.portfolio-page-content .portfolio-left-col .portfolio-left-info:after {
  width: 7.03125vw;
  height: 11.5625vw;
  position: absolute;
  content: "";
  left: 0.52083333vw;
  top: 11.875vw;
  background-image: url(../img/stylish-boy.png);
  background-size: cover;
}
.portfolio-page-bottom-navigation {
  margin: 0.88541667vw auto 2.1875vw;
  overflow: hidden;
}
.portfolio-page-bottom-navigation .yellow-button {
  float: right;
}
.portfolio-page-bottom-navigation .yellow-button a {
  font-size: 1.5625vw;
  padding: 0.26041667vw 2.96875vw;
}
.portfolio-page-bottom-navigation .simple-nav {
  width: 4.375vw;
  margin: 0 auto;
  padding-top: 0.67708333vw;
}
.portfolio-page-bottom-navigation .simple-nav .simple-right-arrow,
.portfolio-page-bottom-navigation .simple-nav .simple-left-arrow {
  /*background-size: cover;*/
  width: 1.5625vw;
  height: 1.30208333vw;
  cursor: pointer;
  position: relative;
}
.portfolio-page-bottom-navigation .simple-nav .simple-right-arrow {
  /*background-image: url(../img/arrow-right-long-black.png);*/
  float: right;
  /*&:hover {
				background-image: url(../img/arrow-right-long-yellow.png);
			}*/
}
.portfolio-page-bottom-navigation .simple-nav .simple-left-arrow {
  /*background-image: url(../img/arrow-left-long-black.png);*/
  float: left;
  /*&:hover {
				background-image: url(../img/arrow-left-long-yellow.png);
			}*/
}
.portfolio-page-bottom-navigation .only-mob {
  display: none;
}
.portfolio-bottom-info {
  margin-bottom: 2.60416667vw;
}
body.single #section-home,
.blog #section-home,
.page-blog #section-home {
  height: 13.02083333vw;
  position: relative;
  background: #000000 url(../img/bg-home.jpg) center center;
  background-size: cover;
}
body.single #section-home .logo,
.blog #section-home .logo,
.page-blog #section-home .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5.3125vw 0 0 -11.97916667vw;
}
body.single #section-home .spot,
.blog #section-home .spot,
.page-blog #section-home .spot {
  position: absolute;
  right: 0;
  top: 8.59375vw;
  width: 14.16666667vw;
  height: 27.55208333vw;
  background: url(../img/spot.png);
  background-size: 100%;
}
body.single #section-home h1,
.blog #section-home h1,
.page-blog #section-home h1 {
  padding: 4.6875vw 0 0 0;
  color: #ffffff;
}
body.single .icon-heart,
.blog .icon-heart,
.page-blog .icon-heart {
  position: absolute !important;
  width: 4.6875vw;
  height: 4.16666667vw;
  left: 13.54166667vw !important;
  top: 4.63541667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
}
body.single .icon-like,
.blog .icon-like,
.page-blog .icon-like {
  position: absolute !important;
  width: 3.125vw;
  height: 2.86458333vw;
  left: 30.10416667vw !important;
  top: 10.10416667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
}
body.single .icon-insta,
.blog .icon-insta,
.page-blog .icon-insta {
  position: absolute !important;
  width: 2.34375vw;
  height: 2.34375vw;
  left: 39.47916667vw !important;
  top: 9.21875vw !important;
  background-size: contain;
  background-repeat: no-repeat;
}
body.single .icon-youtube,
.blog .icon-youtube,
.page-blog .icon-youtube {
  position: absolute !important;
  width: 8.07291667vw;
  height: 3.38541667vw;
  left: 68.33333333vw !important;
  top: 8.80208333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
}
body.single .icon-insta-1,
.blog .icon-insta-1,
.page-blog .icon-insta-1 {
  position: absolute !important;
  width: 1.40625vw;
  height: 1.40625vw;
  left: 8.54166667vw !important;
  top: 6.97916667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
}
body.single .icon-facebook,
.blog .icon-facebook,
.page-blog .icon-facebook {
  position: absolute !important;
  width: 2.08333333vw;
  height: 2.08333333vw;
  left: 58.33333333vw !important;
  top: 4.53125vw !important;
  background-size: contain;
  background-repeat: no-repeat;
}
body.single #section-blog,
.blog #section-blog,
.page-blog #section-blog,
body.single #section-page-content,
.blog #section-page-content,
.page-blog #section-page-content {
  padding-top: 1.5625vw;
}
body.single #section-blog .videos-list,
.blog #section-blog .videos-list,
.page-blog #section-blog .videos-list,
body.single #section-page-content .videos-list,
.blog #section-page-content .videos-list,
.page-blog #section-page-content .videos-list {
  display: flex;
  width: 60.3125vw;
  margin: 0 auto;
  flex-direction: row;
  justify-self: auto;
  flex-wrap: wrap;
  padding-bottom: 135px;
}
body.single #section-blog .videos-list .video-item,
.blog #section-blog .videos-list .video-item,
.page-blog #section-blog .videos-list .video-item,
body.single #section-page-content .videos-list .video-item,
.blog #section-page-content .videos-list .video-item,
.page-blog #section-page-content .videos-list .video-item {
  width: 18.22916667vw;
  height: 13.02083333vw;
  margin: 0.9375vw;
  position: relative;
  cursor: pointer;
}
body.single #section-blog .videos-list .video-item img,
.blog #section-blog .videos-list .video-item img,
.page-blog #section-blog .videos-list .video-item img,
body.single #section-page-content .videos-list .video-item img,
.blog #section-page-content .videos-list .video-item img,
.page-blog #section-page-content .videos-list .video-item img {
  width: 100%;
  display: block;
}
@media only screen and (min-width: 800px) and (max-width: 1119px) {
  body.single #section-blog .videos-list,
  .blog #section-blog .videos-list,
  .page-blog #section-blog .videos-list,
  body.single #section-page-content .videos-list,
  .blog #section-page-content .videos-list,
  .page-blog #section-page-content .videos-list {
    width: 80%;
  }
  body.single #section-blog .videos-list .video-item,
  .blog #section-blog .videos-list .video-item,
  .page-blog #section-blog .videos-list .video-item,
  body.single #section-page-content .videos-list .video-item,
  .blog #section-page-content .videos-list .video-item,
  .page-blog #section-page-content .videos-list .video-item {
    width: 48%;
    height: auto;
    margin: 1%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 799px) {
  body.single #section-blog .videos-list,
  .blog #section-blog .videos-list,
  .page-blog #section-blog .videos-list,
  body.single #section-page-content .videos-list,
  .blog #section-page-content .videos-list,
  .page-blog #section-page-content .videos-list {
    width: 83.33333333vw;
  }
  body.single #section-blog .videos-list .video-item,
  .blog #section-blog .videos-list .video-item,
  .page-blog #section-blog .videos-list .video-item,
  body.single #section-page-content .videos-list .video-item,
  .blog #section-page-content .videos-list .video-item,
  .page-blog #section-page-content .videos-list .video-item {
    width: 98%;
    height: auto;
    margin: 4% 1%;
  }
}
body.single #section-blog-page,
.blog #section-blog-page,
.page-blog #section-blog-page,
body.single #section-page-content,
.blog #section-page-content,
.page-blog #section-page-content {
  color: #ffffff;
  /*.blog-page-container {
			width: 1120*@x;
			margin: 0 auto;
		}*/
}
body.single #section-blog-page .back-to-blog-list,
.blog #section-blog-page .back-to-blog-list,
.page-blog #section-blog-page .back-to-blog-list,
body.single #section-page-content .back-to-blog-list,
.blog #section-page-content .back-to-blog-list,
.page-blog #section-page-content .back-to-blog-list {
  height: 3.64583333vw;
}
body.single #section-blog-page .blog-page-video-container,
.blog #section-blog-page .blog-page-video-container,
.page-blog #section-blog-page .blog-page-video-container,
body.single #section-page-content .blog-page-video-container,
.blog #section-page-content .blog-page-video-container,
.page-blog #section-page-content .blog-page-video-container {
  width: 33.33333333vw;
  height: 20.83333333vw;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 0px 55px 5px rgba(0, 0, 0, 0.58);
}
body.single #section-blog-page .blog-page-video-container img,
.blog #section-blog-page .blog-page-video-container img,
.page-blog #section-blog-page .blog-page-video-container img,
body.single #section-page-content .blog-page-video-container img,
.blog #section-page-content .blog-page-video-container img,
.page-blog #section-page-content .blog-page-video-container img {
  width: 100%;
}
body.single .blog-item-info-container,
.blog .blog-item-info-container,
.page-blog .blog-item-info-container {
  min-height: 1.82291667vw;
  max-height: 1.82291667vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  overflow: hidden;
  transition-duration: 1s;
}
body.single .blog-item-info-container a,
.blog .blog-item-info-container a,
.page-blog .blog-item-info-container a {
  color: #ffffff;
  text-decoration: none;
}
body.single .video-item:hover .blog-item-info-container,
.blog .video-item:hover .blog-item-info-container,
.page-blog .video-item:hover .blog-item-info-container {
  max-height: 10.41666667vw;
}
body.single .blog-item-info-title,
.blog .blog-item-info-title,
.page-blog .blog-item-info-title {
  line-height: 1.82291667vw;
  font-weight: 800;
  padding: 0 0.625vw;
}
body.single .blog-item-info-summary,
.blog .blog-item-info-summary,
.page-blog .blog-item-info-summary {
  padding: 0 0.625vw;
  font-size: 0.83333333vw;
}
body.single .back-to,
.blog .back-to,
.page-blog .back-to,
body.single .next,
.blog .next,
.page-blog .next,
body.single .previos,
.blog .previos,
.page-blog .previos {
  background-repeat: no-repeat;
  color: #ffffff;
  text-decoration: none;
  line-height: 3.64583333vw;
  cursor: pointer;
  position: relative;
}
body.single .back-to,
.blog .back-to,
.page-blog .back-to {
  /*background-image: url(../img/blog-arrow.png);*/
  padding-right: 40px;
  /*background-position: right center;	*/
}
body.single .blog-page-description,
.blog .blog-page-description,
.page-blog .blog-page-description {
  padding: 3.125vw 0;
  text-align: center;
}
body.single .separate,
.blog .separate,
.page-blog .separate {
  display: none;
}
body.single .single-pagination,
.blog .single-pagination,
.page-blog .single-pagination {
  position: relative;
  height: 3.64583333vw;
  z-index: 9;
}
body.single .single-pagination .next,
.blog .single-pagination .next,
.page-blog .single-pagination .next {
  /*background-image: url(../img/blog-arrow-left.png);*/
  float: left;
  /*background-position: left center;*/
  padding-left: 2.08333333vw;
}
body.single .single-pagination .previos,
.blog .single-pagination .previos,
.page-blog .single-pagination .previos {
  /*background-image: url(../img/blog-arrow.png);*/
  float: right;
  /*background-position: right center;*/
  padding-right: 2.08333333vw;
}
body.single .single-pagination.portfolio-top-pagination .next,
.blog .single-pagination.portfolio-top-pagination .next,
.page-blog .single-pagination.portfolio-top-pagination .next {
  /*background-image: url(../img/arrow-left-long-black.png);*/
  padding-left: 2.60416667vw;
  color: #000000;
}
body.single .single-pagination.portfolio-top-pagination .previos,
.blog .single-pagination.portfolio-top-pagination .previos,
.page-blog .single-pagination.portfolio-top-pagination .previos {
  /*background-image: url(../img/arrow-right-long-black.png);*/
  padding-right: 2.60416667vw;
  color: #000000;
}
.arrow-button {
  width: 1.5625vw;
  height: 1.30208333vw;
  position: absolute;
  top: calc(38%);
}
.arrow-button svg {
  position: absolute;
}
.arrow-button .svg-arrow {
  fill: #000000;
  transition-duration: 0.5s;
}
.arrow-button:hover .svg-arrow {
  fill: #ffd92a;
}
.back-to .arrow-button {
  top: 3px;
}
.next .arrow-button,
.simple-left-arrow .arrow-button {
  left: 0;
  transform: scaleX(-1);
}
.previos .arrow-button,
.back-to .arrow-button,
.simple-right-arrow .arrow-button {
  right: 0;
}
.previos .arrow-button svg,
.back-to .arrow-button svg,
.simple-right-arrow .arrow-button svg {
  right: 0;
}
.next:hover .svg-arrow,
.previos:hover .svg-arrow,
.back-to:hover .svg-arrow {
  fill: #ffd92a;
}
