@f: 'Assistant', sans-serif;
@x: 100vw/360;

@green: #abd038;
@darkgreen: #001c14;
@middlegreen: #107055;
@yellow: #ffd92a;
@white: #ffffff;
@black: #000000;

@web:   ~"only screen and (min-width: 1120px)";
@tablet:   ~"only screen and (min-width: 800px) and (max-width: 1119px)";
@mobile:   ~"only screen and (min-width: 0px) and (max-width: 799px)";


@h1size: 40*@x;

// Icons
.icon-left(@width, @height, @left, @top) {
  position: absolute !important;
  width: @width;
  height: @height;
  right: auto !important;
  left: @left !important;
  top: @top !important;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-right(@width, @height, @right, @top) {
  position: absolute !important;
  width: @width;
  height: @height;
  left: auto !important;
  right: @right !important;
  top: @top !important;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-left-bottom(@width, @height, @left, @bottom) {
  position: absolute !important;
  width: @width;
  height: @height;
  top: auto !important;
  right: auto !important;
  left: @left !important;
  bottom: @bottom !important;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-right-bottom(@width, @height, @right, @bottom) {
  position: absolute !important;
  width: @width;
  height: @height;
  top: auto !important;
  left: auto !important;
  right: @right !important;
  bottom: @bottom !important;
  background-size: contain;
  background-repeat: no-repeat;
}

@media all and (max-width: 799px) {
	h1 {
		font-size: @h1size;	
		line-height: 43*@x;
		padding: 1*@x 0 28*@x 0 !important;
	}
	#section-home{
		h1 {
			display: none;
		}
	}
	.page-content {
		width:85%;
		margin: 0 7.5%;
		padding: 10*@x 0px 60px 0px;
	}
	
	body.blog,
	body.single,
	body.page-blog,
	body.page {
		#section-home {
			height: 190*@x !important;
		}
		
		
		.logo,
		.nav-main.fixed .logo {
			width: 4.01041667vw;
			animation: none;

			height: 41*@x;
			width: 91*@x;
			display: block;
			margin: 15*@x 92*@x 0 0;
			float: none;
		}
	}
	#section-home {
		
		.icon-facebook {
			.icon-left(40*@x, 40*@x, 289*@x, 127*@x);
		}
		.icon-like {
			.icon-left(60*@x, 60*@x, 227*@x, 26*@x);
		}
		.icon-youtube {
			.icon-left(177*@x, 75*@x, 25*@x, 97*@x);
		}
		.icon-insta {
			display: none;
		}
		
		.icon-insta-1 {
			display: none;
		}
		.icon-facebook {
			display: none;
		}
		.icon-heart {
			display: none;
		}
	}
	
	
	#section-page-content  {
		
		.blog-item-info-container {
			max-height: 200*@x;
		}
		
		.blog-item-info-title {
			line-height: 35*@x;
		}
		
		.blog-item-info-summary {
			padding: 0 12*@x;
			font-size: 16*@x;
			
		}
		
		.video-item:hover .blog-item-info-container {
			max-height: 200*@x;
		}
		
		.back-to-blog-list {
			height: 40*@x !important;
		}
		
		.blog-page-video-container {
			width: 100% !important;
			height: 100% !important;

		}
		
		
		
	}
	
	
	
	.portfolio-list {
		
		.portfolio-item {
			width: 100%;
			margin-bottom: 7.5%;
			
			.info{
				height: 70*@x;
				text-align: right;
				
				img {
					width: 40*@x;
					height: 37*@x;
					float: right;
					margin-top: 17*@x;
					margin-right: 18*@x;
					margin-left: 15*@x;
				}
			}
			
			&:hover {
			
				.info{
					height: 70*@x;
					
				}
			}
			
			&:before,
			&:after {
				width: 5px;
				height: 5px;
				background-color: @green;
				position: absolute;
				content:"";
				z-index: 7;
			}
			&:before {
				bottom: 0px;
				right: 0px;
			}
			&:after {
				bottom: 0px;
				left: 0px;
			}
			
		}
	}/* end .portfolio-list */
	
	.portfolio-item-title {
		font-size: 24*@x;
		line-height: 25*@x;
		margin-top: 12*@x;
	}
	.portfolio-item-description {
		font-size: 18*@x;
		line-height: 20*@x;
	}
	.separate {
		display: block !important;
		height: 1px;
		width: 100%;
		background-color: @white;
		margin: 30*@x 0;
	}
	.single-pagination {
		height: 110*@x !important;
		
		.back-to,
		.next,
		.previos {		
			line-height: 30*@x;
		}
		
		.next {
			/*background-image: url(../img/blog-arrow-mob-left.png) !important;
			background-position: left 5*@x !important;*/
			width: 105*@x;
			text-align: left;
			padding-left: 40*@x !important;
		}
		.previos {
			/*background-image: url(../img/blog-arrow-mob.png) !important;
			background-position: right 5*@x !important;*/
			width: 105*@x;
			text-align: right;
			padding-right: 40*@x !important;
		}
	}
	.single-pagination.portfolio-top-pagination {
		margin-top: -60*@x !important;
		margin-bottom: -60*@x !important;
		position: relative;
		z-index: 0;
		
		.next,
		.previos {		
			width: 30*@x !important;
			font-size: 0 !important;
			position: relative;
			z-index: 7;
		}
		.next {
			/*background-image: url(../img/arrow-left-long-black.png) !important;
			background-position: left 5*@x !important;*/
			width: 115*@x;
			text-align: left;
			padding-left: 30*@x !important;
			
			/*&:hover {
				background-image: url(../img/arrow-left-long-yellow.png) !important;
			}*/

		}
		.previos {
			/*background-image: url(../img/arrow-right-long-black.png) !important;
			background-position: right 5*@x !important;*/
			width: 115*@x;
			text-align: right;
			padding-right: 30*@x !important;
			
			/*&:hover {
				background-image: url(../img/arrow-right-long-yellow.png) !important;
			}*/
		}
		
	}
	
	.portfolio-page-content {
	
	
		.portfolio-right-col {
			width: 100%;
			height: auto;
			float: none;
			
		}
		.portfolio-left-col {
			width: 100%;
			height: auto;
			display: block;
			
			.portfolio-left-info {
				padding: 25*@x;
				font-size: 21*@x;
				color: @black;
				line-height: 27*@x;
				
				&:after {
					width: 67*@x;
					height: 110*@x;
					position: absolute;
					content:"";
					left: 7*@x;
					top: auto !important;
					bottom: -70*@x;
					background-image: url(../img/stylish-boy.png);
					background-size: cover
				}
			}
			
		}
	}
	.portfolio-page-bottom-navigation {
		margin: 17*@x auto 42*@x;
		
		.yellow-button{
			float: right;
			
			a{
				font-size: 30*@x;
				padding: 5*@x 57*@x;
			}
		}
		
		
	}
	.only-web {
		display: none !important;
		
	}
	.only-mob {
		display: block !important;
	}
	.simple-nav.only-mob {
		
		position: absolute;
		top: 50%;
		width: 100%;
		background-color: red;
		
		
		.simple-right-arrow,
		.simple-left-arrow {
			background-size: cover;
			width: 30*@x;
			height: 25*@x;
			cursor: pointer;
			position: absolute;
			
		}
		
		.simple-right-arrow {
			background-image: url(../img/arrow-right-long-black.png);
			right: 20*@x;
			
			&:hover {
				background-image: url(../img/arrow-right-long-yellow.png);
			}
		}
		.simple-left-arrow {
			background-image: url(../img/arrow-left-long-black.png);
			left: 20*@x;
			
			&:hover {
				background-image: url(../img/arrow-left-long-yellow.png);
			}
		}
	}
	
	
	
	#section-page-content{
		.icon-heart-black {
		  .icon-right(48*@x, 43*@x, -17*@x, 148*@x);
		}		
		.icon-insta-black {
		  .icon-right-bottom(27*@x, 32*@x, 17*@x, 67*@x);
		}
		.icon-glasses {
			.icon-left-bottom(65*@x, 10*@x, 21*@x, 36*@x);
		}
		
		.icon-thumbs-black,
		.icon-youtube-black-1,
		.icon-chat {
			display: none !important;
		}
	}/* end #section-page-content */
	
	#section-blog,
	#section-page-content	{
		
		.videos-list {

			padding-bottom: 70px !important;
		}
	}
	
	.yellow-button {
		text-align: center;
		
		a{
			display: inline-block;
			font-size: 30*@x;
			text-decoration: none;
			background-color: @yellow;
			position: relative;
			padding: 12*@x 57*@x;
			cursor: pointer;
			color: @black;
			
			
			&:before,
			&:after {
				width: 5px;
				height: 5px;
				background-color: @green;
				position: absolute;
				content:"";
				z-index: 999;
			}
			&:before {
				bottom: 0px;
				right: 0px;
			}
			&:after {
				bottom: 0px;
				left: 0px;
			}
			
			span{			
				
				&:before,
				&:after {
					width: 5px;
					height: 5px;
					background-color: @green;
					position: absolute;
					content:"";
					z-index: 999;
				}
				&:before {
					top: 0px;
					right: 0px;
				}
				&:after {
					top: 0px;
					left: 0px;
				}
			}
			
		}		
	}/* end .yellow-button */
	
	#filters {
		margin: 0 0 28px 0;
		
		ul {
			display: block;
			position: relative;
			min-height: 50px;
			
			li{
				display: block;
				margin-bottom: 5px;
				width: 100%;
				position: relative;
				text-align: left;
				transition-duration: .3s;
				height: 0px;
				overflow: hidden;
				background-repeat: no-repeat;
				background-position: 95% center;
				
				&:after,
				&:before {
					width: 5px;
					height: 5px;
					background-color: @green;
					position: absolute;
					content:"";
					top: 0px
				}
				
				&:after {
					left: auto !important;
					right: 0px;
				}
				&:before {
					right: auto !important;
					left: 0px;
				}
				
				span {
					margin: 0 15*@x;
					
					&:after,
					&:before {
						width: 5px;
						height: 5px;
						background-color: @green;
						position: absolute;
						content:"";
						bottom: 0px;
					}
					
					&:after {
						right: 0px;
					}
					&:before {
						left: 0px;
					}
				}
			
				&.closed{
					height: 0px;
					background-image: url(../img/filters-arrow-down.png);
				}
				&.is-checked {
					z-index: 8;
					height: 49px !important;
					background-color: @middlegreen;
					color: @yellow;
				}
				&.opened{
					height: 49px;
					background-image: url(../img/filters-arrow-up.png);
					
				}
				
			}
		}
	} /* end #filters*/
	.arrow-button {
	  width: 30*@x;
	  height: 25*@x;
	  position: absolute;
	  top: 3px;
	  
	  
	  svg {
		position: absolute;
		top: 0;
	  }
	  
	  .svg-arrow {
		  fill: @black;
			transition-duration: 0.5s;
		}
	  
	}

	.back-to .arrow-button {
		top: 3px;
	}
	.next .arrow-button {
		left: 0;
		transform: scaleX(-1);
		
		 svg {
			left: 0;
		  }
	}
	.previos .arrow-button,
	.back-to .arrow-button,
	.simple-right-arrow .arrow-button 	{
		right: 0;
		
		 svg {
			right: 0;
		  }
	}
	.next,
	.previos,
	.back-to {
	
		&:hover {
			
			.svg-arrow {
			  fill: @yellow;
			}
	  }
	}
	
	
	
}	/* end @media all and (max-width: 799px)*/