@media all and (max-width: 813px) {
  .mobile-only {
    display: block;
  }
  body {
    font-size: 6.66666667vw;
  }
  .button-yellow {
    font-size: 8.33333333vw;
    height: 11.11111111vw;
    line-height: 11.11111111vw;
  }
  .button-yellow:before {
    top: -1.38888889vw;
  }
  .button-yellow:after {
    bottom: -1.38888889vw;
  }
  .button-yellow:before,
  .button-yellow:after {
    right: 1.38888889vw;
    left: 1.38888889vw;
    height: 1.38888889vw;
  }
  .nav-main {
    height: 18.05555556vw;
  }
  .nav-main .container {
    width: auto;
  }
  .nav-main .wrapper-flex {
    display: block;
    float: none;
    width: auto;
  }
  .nav-main .logo {
    display: none;
  }
  .nav-main.semifixed a:after {
    bottom: -0.55555556vw;
    height: 0.55555556vw;
  }
  .nav-main.fixed .wrapper-flex {
    width: auto;
  }
  .menu-main {
    font-size: 8.33333333vw;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: auto;
    background: #001c14;
    opacity: 0.9;
    z-index: 1;
    text-align: center;
    padding-top: 18.05555556vw;
    display: none;
  }
  .menu-main.open {
    display: block;
  }
  .menu-main li {
    display: block;
    line-height: 13.88888889vw;
  }
  .menu-main a {
    position: relative;
  }
  .menu-main a:after {
    bottom: -0.55555556vw;
    height: 0.55555556vw;
  }
  .menu-main a:hover:after {
    right: 50%;
    left: 50%;
    width: 0;
  }
  .menu-main a:focus:after {
    width: 100%;
    right: 0;
    left: 0;
  }
  .menu-social {
    position: absolute;
    top: 4.16666667vw;
    left: 1.38888889vw;
    width: auto;
    float: none;
  }
  .menu-social a {
    width: 10vw;
    height: 10vw;
    margin: 0 0 0 2.77777778vw;
  }
  .hamburger {
    position: absolute;
    display: block;
    z-index: 2;
    right: 5.55555556vw;
    top: 4.16666667vw;
    width: 10vw;
    height: 10vw;
    background-image: url(../img/hamburger.png);
    background-size: 100%;
    overflow: hidden;
    text-indent: 100vw;
  }
  .hamburger.close {
    background-image: url(../img/hamburger-close.png);
  }
  .logo {
    width: 72.22222222vw;
    height: 33.33333333vw;
    font-size: 5.55555556vw;
    line-height: 59.16666667vw;
    letter-spacing: 0.83333333vw;
  }
  .scroll-leaves {
    display: none;
  }
  /* Typography */
  section h2 {
    padding-top: 12.5vw;
    font-size: 13.33333333vw;
  }
  #section-home {
    height: 138.88888889vw;
    background-image: url(../img/bg-home-mob.jpg);
  }
  #section-home .logo {
    top: 29.16666667vw;
    margin: 0 0 0 -36.11111111vw;
  }
  #section-home .spot {
    top: 71.38888889vw;
    width: 36.11111111vw;
    height: 61.11111111vw;
    right: 0;
  }
  #section-home .arrows-down {
    height: 16.66666667vw;
    width: 8.33333333vw;
    top: 116.66666667vw;
    left: 50%;
    transform: translateX(-50%);
  }
  #section-home .arrows-down .arrow {
    width: 8.33333333vw;
    height: 5vw;
  }
  #section-home .arrows-down .arrow:nth-child(2) {
    top: 5.55555556vw;
  }
  #section-about {
    height: 165.27777778vw;
  }
  #section-about p {
    font-size: 5vw;
    line-height: 6.66666667vw;
    width: auto;
    margin: 4.16666667vw 6.94444444vw;
  }
  .couple-girl {
    right: -22.5vw;
    bottom: 20.55555556vw;
    width: 22.77777778vw;
    height: 40.55555556vw;
  }
  .couple-girl.current {
    right: 25.83333333vw;
  }
  .couple-boy {
    left: -20vw;
    bottom: 20.55555556vw;
    width: 22.77777778vw;
    height: 38.05555556vw;
  }
  .couple-boy.current {
    left: 20vw;
  }
  .couple-shadow {
    width: 64.44444444vw;
    height: 3.33333333vw;
    bottom: -3.61111111vw;
    right: 18.05555556vw;
  }
  .couple-shadow.current {
    bottom: 18.88888889vw;
  }
  /* NOT READY */
  #section-services {
    height: 112.5vw;
  }
  #section-services .list-services {
    width: auto;
    margin: 19.44444444vw auto 0;
    display: block;
  }
  #section-services .item-services {
    font-size: 8.33333333vw;
    width: 100vw;
    margin-bottom: 2.77777778vw;
  }
  #section-services .item-services:hover div[class^="icon-"] {
    transform: scale(1.3);
    transition: all 0.2s;
  }
  #section-services .item-services:hover .balloon {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  #section-services .slick-list {
    overflow: visible;
  }
  #section-services .slick-next {
    top: 3.33333333vw;
    left: auto;
    right: 5vw;
  }
  #section-services .slick-prev {
    top: 3.33333333vw;
    left: auto;
    left: 5vw;
  }
  #section-services .balloon {
    width: 80.55555556vw;
    padding: 1.38888889vw 1.38888889vw 8.33333333vw;
    font-size: 3.88888889vw;
  }
  #section-services .balloon:before {
    top: -1.38888889vw;
    right: 1.38888889vw;
    left: 1.38888889vw;
    height: 1.38888889vw;
  }
  .icon-chart,
  .icon-ch,
  .icon-play,
  .icon-shirt,
  .icon-star {
    margin: 0 auto 8.33333333vw;
    width: 16.66666667vw;
    height: 16.66666667vw;
  }
  /* End NOT READY */
  #section-staff {
    height: auto;
    padding-bottom: 13.88888889vw;
  }
  #section-staff .list-staff {
    width: auto;
    margin: 2.77777778vw auto 0;
    padding-bottom: 2.77777778vw;
    display: block;
    overflow: hidden;
  }
  #section-staff .item-staff {
    font-size: 8.33333333vw;
    width: auto;
    text-align: right;
    clear: both;
    margin-left: 6.11111111vw;
    display: none;
  }
  #section-staff .item-staff:nth-child(-n+3) {
    display: block;
  }
  #section-staff .item-staff .name {
    margin: 5.55555556vw 52.77777778vw 0 0;
    padding: 9.16666667vw 0 0;
  }
  #section-staff .item-staff .role {
    font-size: 5.83333333vw;
    margin: 0 52.77777778vw 0 0;
  }
  #section-staff .button-yellow {
    margin: 0 auto;
    width: 50vw;
  }
  #section-staff .button-yellow:hover {
    color: #ffd92a;
    background: #001c14;
  }
  #section-staff .button-yellow:hover:after,
  #section-staff .button-yellow:hover:before {
    background: #001c14;
  }
  .person {
    height: 44.44444444vw;
    width: 38.88888889vw;
    margin: 0 6.11111111vw 9.16666667vw;
    position: relative;
    float: right;
  }
  .person:before,
  .person:after {
    opacity: 1;
  }
  .person:after {
    display: none;
  }
  .person img {
    width: 38.88888889vw;
    filter: none;
  }
  #section-bag {
    height: 125vw;
  }
  #section-bag .button-yellow {
    margin: 7.77777778vw auto 0;
    width: 50vw;
  }
  .slick-slider {
    width: 88.88888889vw;
    height: 48.33333333vw;
    margin-top: 5.55555556vw;
  }
  .slick-slider:before,
  .slick-slider:after {
    display: none;
  }
  .slide {
    width: 88.88888889vw;
    height: 48.33333333vw;
  }
  .slide img {
    width: 88.88888889vw;
    height: 48.33333333vw;
  }
  .slick-next,
  .slick-prev {
    width: 8.33333333vw;
    height: 6.94444444vw;
    bottom: auto;
    top: 58.05555556vw;
    right: 0;
    border: 0;
    text-indent: -100vw;
  }
  .slick-prev {
    left: 0;
    transform: scaleX(-1);
  }
  #section-partners {
    height: auto;
    padding-bottom: 27.77777778vw;
  }
  #section-partners .button-yellow {
    width: 50vw;
    margin: 0 auto;
  }
  .list-logos {
    margin: 8.33333333vw auto 2.77777778vw;
    width: 90%;
  }
  .item-logos {
    width: 41.66666667vw;
    height: 22.22222222vw;
    display: none;
  }
  .item-logos:nth-child(-n+7) {
    display: flex;
  }
  .item-logos img {
    max-width: 33.33333333vw;
    max-height: 19.44444444vw;
  }
  #section-contact {
    height: 159.72222222vw;
    background: url(../img/bg-contact-mob.jpg);
  }
  #section-contact .character-boy,
  #section-contact .character-girl {
    display: none;
  }
  #section-contact form {
    width: 89.44444444vw;
    padding-top: 16.66666667vw;
  }
  #section-contact .button-yellow {
    width: 50vw;
    height: 11.11111111vw;
    line-height: 11.11111111vw;
    float: none;
    margin: 0 auto;
    display: block;
  }
  #section-contact .menu-social {
    top: auto;
    bottom: 18.88888889vw;
    left: 30.55555556vw;
  }
  .placeholder {
    font-size: 6.66666667vw;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 6.66666667vw;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 6.66666667vw;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 6.66666667vw;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 6.66666667vw;
  }
  input,
  textarea {
    height: 13.33333333vw;
    line-height: 13.33333333vw;
    margin: 0 auto 5.55555556vw;
    font-size: 6.66666667vw;
    padding: 0 2.77777778vw;
  }
  textarea {
    height: 28.88888889vw;
    margin-bottom: 7.22222222vw;
  }
  .copy {
    right: 50%;
    font-size: 3.33333333vw;
    bottom: 6.66666667vw;
    width: 43.33333333vw;
    text-align: center;
  }
  .icon-heart,
  .icon-insta {
    display: none !important;
  }
  .icon-youtube {
    position: absolute !important;
    width: 50vw;
    height: 22.22222222vw;
    left: 12.22222222vw !important;
    top: 74.44444444vw !important;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.25;
  }
  .icon-facebook {
    position: absolute !important;
    width: 11.11111111vw;
    height: 11.11111111vw;
    left: 8.33333333vw !important;
    top: 116.66666667vw !important;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
  }
  .icon-like {
    position: absolute !important;
    width: 16.66666667vw;
    height: 16.66666667vw;
    left: 46.11111111vw !important;
    top: 8.33333333vw !important;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
  }
  .icon-facebook-1,
  .icon-insta-1,
  .icon-youtube-1,
  .icon-thumbs,
  .icon-facebook-2 {
    display: none !important;
  }
  .icon-heart-black {
    position: absolute !important;
    width: 26.38888889vw;
    height: 23.33333333vw;
    left: 77.77777778vw !important;
    top: 97.22222222vw !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .icon-thumbs-black {
    display: none !important;
  }
  .icon-insta-black {
    position: absolute !important;
    width: 9.72222222vw;
    height: 9.72222222vw;
    left: 3.61111111vw !important;
    top: 105.55555556vw !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .icon-chat,
  .icon-youtube-black-1 {
    display: none !important;
  }
  .icon-glasses {
    position: absolute !important;
    width: 38.88888889vw;
    height: 8.33333333vw;
    left: auto !important;
    right: -23.05555556vw !important;
    top: 22.22222222vw !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .icon-chat-1 {
    display: none !important;
  }
  .icon-heart-black-1 {
    position: absolute !important;
    width: 16.11111111vw;
    height: 13.88888889vw;
    left: 11.11111111vw !important;
    top: 13.05555556vw !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .icon-glasses-1 {
    position: absolute !important;
    width: 19.44444444vw;
    height: 5.55555556vw;
    left: 4.16666667vw !important;
    top: 180.55555556vw !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .icon-youtube-black-2,
  .icon-thumbs-black-1 {
    display: none !important;
  }
  .icon-insta-black-1 {
    position: absolute !important;
    width: 8.33333333vw;
    height: 8.33333333vw;
    left: auto !important;
    right: 83.33333333vw !important;
    top: 83.33333333vw !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .icon-chat-2,
  .icon-youtube-black-3 {
    display: none !important;
  }
  .icon-glasses-2 {
    position: absolute !important;
    width: 19.44444444vw;
    height: 4.44444444vw;
    left: 76.38888889vw !important;
    top: 27.77777778vw !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .icon-heart-black-2 {
    position: absolute !important;
    width: 13.88888889vw;
    height: 13.88888889vw;
    left: auto !important;
    right: 80.55555556vw !important;
    top: 104.72222222vw !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .icon-insta-black-2 {
    position: absolute !important;
    width: 7.5vw;
    height: 7.5vw;
    left: auto !important;
    right: 85vw !important;
    top: 13.88888889vw !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .icon-thumbs-black-2 {
    display: none !important;
  }
  .icon-facebook-3,
  .icon-heart-1,
  .icon-insta-2 {
    display: none !important;
  }
  .icon-youtube-2,
  .icon-facebook-4,
  .icon-thumbs-1,
  .icon-facebook-5 {
    display: none !important;
  }
  #iconsParallaxMenu {
    display: none;
    z-index: 2;
  }
  #iconsParallaxMenu.showed {
    display: block;
  }
  .icon-heart-2 {
    position: absolute !important;
    width: 19.44444444vw;
    height: 16.66666667vw;
    left: 7.22222222vw !important;
    top: 5.83333333vw !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/parallax/heart_green.png);
    opacity: 0.5;
  }
  .icon-insta-3 {
    position: absolute !important;
    width: 8.33333333vw;
    height: 8.33333333vw;
    left: 18.88888889vw !important;
    top: 58.88888889vw !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/parallax/insta_green.png);
    opacity: 0.5;
  }
  .icon-thumbs-2 {
    position: absolute !important;
    width: 19.44444444vw;
    height: 19.44444444vw;
    left: 76.94444444vw !important;
    top: 61.94444444vw !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/parallax/thumbs_green.png);
    opacity: 0.25;
  }
  .icon-facebook-6 {
    position: absolute !important;
    width: 12.5vw;
    height: 12.5vw;
    left: 4.16666667vw !important;
    top: 93.05555556vw !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/parallax/fb_green.png);
    opacity: 0.5;
  }
  .dots {
    transform: scale(2.1);
    transform-origin: 106% 100%;
  }
  .contact-trigger {
    display: none;
    /*
    width: 110*@x;
    height: 80*@x;
    top: 150*@x;
    font-size: 16*@x;
    line-height: 110*@x;
    transform: scale(.7);
    transform-origin: 100% 0;
    */
  }
  .contact-form-fixed {
    top: 41.66666667vw;
    width: 134.72222222vw;
    transform: translateX(100%) scale(0.7);
    transform-origin: 100% 0;
    height: 126.38888889vw;
    padding: 8.33333333vw 0 0 13.88888889vw;
  }
  .contact-form-fixed.open {
    transform: translateX(0) scale(0.7);
  }
  .contact-form-fixed .close {
    width: 13.88888889vw;
    height: 13.88888889vw;
    top: 8.33333333vw;
  }
  .contact-form-fixed input,
  .contact-form-fixed textarea {
    width: 109.44444444vw;
  }
  .contact-form-fixed button {
    width: 50.55555556vw;
    margin: 0 5.55555556vw;
  }
  section:not(#section-home):target {
    padding-top: 10vw;
  }
  .arrows-up {
    display: none;
    position: fixed;
    height: 16.66666667vw;
    width: 8.33333333vw;
    bottom: 5.55555556vw;
    left: 5.55555556vw;
    transform: scaleY(-1);
    z-index: 2;
  }
  .arrows-up.current {
    display: block;
  }
  .arrows-up .arrow {
    position: absolute;
    top: 0;
    width: 8.33333333vw;
    height: 5vw;
    background: url(../img/arrow-down.png) top center no-repeat;
    background-size: 100%;
    animation: arrow-opacity 3s infinite;
  }
  .arrows-up .arrow:nth-child(2) {
    top: 5.55555556vw;
    animation: arrow-opacity 3s 1.5s infinite;
  }
  .accessibility_component .btn_accessibility {
    background-image: url(../img/hamburger-bg.png) !important;
    background-color: transparent !important;
    background-size: 100%;
    position: absolute;
    z-index: 2;
    right: 5.55555556vw;
    top: auto !important;
    bottom: 4.16666667vw;
    width: 10vw;
    height: 10vw;
    border-radius: 0 !important;
    box-shadow: 0 0 0 transparent !important;
  }
  .accessibility_component .btn_accessibility img {
    width: 80%;
    padding-top: 1.11111111vw;
  }
  .accessibility_component .btn_accessibility:before,
  .accessibility_component .btn_accessibility:after {
    display: none;
  }
  .accessibility_component .btn_accessibility:hover,
  .accessibility_component .btn_accessibility:focus {
    background-color: transparent !important;
    box-shadow: 0 0 0 transparent !important;
    /*outline: 3px solid #5E9ED6 !important;*/
  }
}
/*# sourceMappingURL=responsive.css.map */