@f: 'Assistant', sans-serif;
@x: 100vw/360;

@green: #abd038;
@darkgreen: #001c14;
@yellow: #ffd92a;

@media all and (max-width: 813px) {
  .mobile-only {
    display: block;
  }

  body {
    font-size: 24*@x;
  }

  .button-yellow {
    font-size: 30*@x;
    height: 40*@x;
    line-height: 40*@x;


    &:before {
      top: -5*@x;
    }

    &:after {
      bottom: -5*@x;
    }

    &:before, &:after {
      right: 5*@x;
      left: 5*@x;
      height: 5*@x;
    }
  }

  .nav-main {
    height: 65*@x;

    .container {
      width: auto;
    }

    .wrapper-flex {
      display: block;
      float: none;
      width: auto;
    }

    .logo {
      display: none;
    }

    &.semifixed {
      a {
        &:after {
          bottom: -2*@x;
          height: 2*@x;
        }
      }
    }

    &.fixed {
      .wrapper-flex {
        width: auto
      }
    }
  }


  .menu-main {
    font-size: 30*@x;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: auto;
    background: @darkgreen;
    opacity: .9;
    z-index: 1;
    text-align: center;
    padding-top: 65*@x;
    display: none;

    &.open {
      display: block;
    }

    li {
      display: block;
      line-height: 50*@x;
    }

    a {
      position: relative;

      &:after {
        bottom: -2*@x;
        height: 2*@x;
      }

      &:hover:after {
        right: 50%;
        left: 50%;
        width: 0;
      }

      &:focus:after {
        width: 100%;
        right: 0;
        left: 0;
      }
    }
  }

  .menu-social {
    position: absolute;
    top: 15*@x;
    left: 5*@x;
    width: auto;
    float: none;


    a {
      width: 36*@x;
      height: 36*@x;
      margin: 0 0 0 10*@x;
    }
  }

  .hamburger {
    position: absolute;
    display: block;
    z-index: 2;
    right: 20*@x;
    top: 15*@x;
    width: 36*@x;
    height: 36*@x;
    background-image: url(../img/hamburger.png);
    background-size: 100%;
    overflow: hidden;
    text-indent: 100vw;

    &.close {
      background-image: url(../img/hamburger-close.png);
    }
  }

  .logo {
    width: 260*@x;
    height: 120*@x;
    font-size: 20*@x;
    line-height: 213*@x;
    letter-spacing: 3*@x;
  }

  .scroll-leaves {
    display: none;
  }

  /* Typography */
  section {
    h2 {
      padding-top: 45*@x;
      font-size: 48*@x;
    }
  }

  #section-home {
    height: 500*@x;
    background-image: url(../img/bg-home-mob.jpg);

    .logo {
      top: 105*@x;
      margin: 0 0 0 -130*@x;
    }

    .spot {
      top: 257*@x;
      width: 130*@x;
      height: 220*@x;
      right: 0;
    }

    .arrows-down {
      height: 60*@x;
      width: 30*@x;
      top: 420*@x;
      left: 50%;
      transform: translateX(-50%);

      .arrow {
        width: 30*@x;
        height: 18*@x;

        &:nth-child(2) {
          top: 20*@x;
        }
      }
    }
  }

  #section-about {
    height: 595*@x;

    p {
      font-size: 18*@x;
      line-height: 24*@x;
      width: auto;
      margin: 15*@x 25*@x;
    }
  }

  .couple-girl {
    right: -81*@x;
    bottom: 74*@x;
    width: 82*@x;
    height: 146*@x;

    &.current {
      right: 93*@x;
    }
  }

  .couple-boy {
    left: -72*@x;
    bottom: 74*@x;
    width: 82*@x;
    height: 137*@x;

    &.current {
      left: 72*@x;
    }
  }

  .couple-shadow {
    width: 232*@x;
    height: 12*@x;
    bottom: -13*@x;
    right: 65*@x;

    &.current {
      bottom: 68*@x;
    }
  }

  /* NOT READY */
  #section-services {
    height: 405*@x;

    .list-services {
      width: auto;
      margin: 70*@x auto 0;
      display: block;
    }

    .item-services {
      font-size: 30*@x;
      width: 360*@x;
      margin-bottom: 10*@x;

      &:hover {
        div[class^="icon-"] {
          transform: scale(1.3);
          transition: all .2s;
        }

        .balloon {
          opacity: 1;
          transform: translateX(-50%) scale(1);
        }
      }
    }

    .slick-list {
      overflow: visible;
    }

    .slick-next {
      top: 12*@x;
      left: auto;
      right: 18*@x;
    }

    .slick-prev {
      top: 12*@x;
      left: auto;
      left: 18*@x;
    }

    .balloon {
      width: 290*@x;
      padding: 5*@x 5*@x 30*@x;
      font-size: 14*@x;

      &:before {
        top: -5*@x;
        right: 5*@x;
        left: 5*@x;
        height: 5*@x;
      }
    }
  }

  .icon-chart, .icon-ch, .icon-play, .icon-shirt, .icon-star {
    margin: 0 auto 30*@x;
    width: 60*@x;
    height: 60*@x;
  }

  /* End NOT READY */
  #section-staff {
    height: auto;
    padding-bottom: 50*@x;

    .list-staff {
      width: auto;
      margin: 10*@x auto 0;
      padding-bottom: 10*@x;
      display: block;
      overflow: hidden;
    }

    .item-staff {
      font-size: 30*@x;
      width: auto;
      text-align: right;
      clear: both;
      margin-left: 22*@x;
      display: none;

      &:nth-child(-n+3) {
        display: block;
      }

      .name {
        margin: 20*@x 190*@x 0 0;
        padding: 33*@x 0 0;
      }

      .role {
        font-size: 21*@x;
        margin: 0 190*@x 0 0;
      }
    }

    .button-yellow {
      margin: 0 auto;
      width: 180*@x;

      &:hover {
        color: @yellow;
        background: @darkgreen;

        &:after, &:before {
          background: @darkgreen;
        }

      }
    }
  }

  .person {
    height: 160*@x;
    width: 140*@x;
    margin: 0 22*@x 33*@x;
    position: relative;
    float: right;

    &:before, &:after {
      opacity: 1;
    }

    &:after {
      display: none;
    }

    img {
      width: 140*@x;
      filter: none;
    }
  }

  #section-bag {
    height: 450*@x;

    .button-yellow {
      margin: 28*@x auto 0;
      width: 180*@x;
    }
  }

  .slick-slider {
    width: 320*@x;
    height: 174*@x;
    margin-top: 20*@x;

    &:before, &:after {
      display: none;
    }
  }

  .slide {
    width: 320*@x;
    height: 174*@x;

    img {
      width: 320*@x;
      height: 174*@x;
    }
  }

  .slick-next,
  .slick-prev {
    width: 30*@x;
    height: 25*@x;
    bottom: auto;
    top: 209*@x;
    right: 0;
    border: 0;
    text-indent: -100vw;
  }

  .slick-prev {
    left: 0;
    transform: scaleX(-1);
  }

  #section-partners {
    height: auto;
    padding-bottom: 100*@x;

    .button-yellow {
      width: 180*@x;
      margin: 0 auto;
    }
  }

  .list-logos {
    margin: 30*@x auto 10*@x;
    width: 90%;
  }

  .item-logos {
    width: 150*@x;
    height: 80*@x;
    display: none;

    &:nth-child(-n+7) {
      display: flex;
    }

    img {
      max-width: 120*@x;
      max-height: 70*@x;
    }
  }


  #section-contact {
    height: 575*@x;
    background: url(../img/bg-contact-mob.jpg);

    .character-boy, .character-girl {
      display: none;
    }

    form {
      width: 322*@x;
      padding-top: 60*@x;
    }

    .button-yellow {
      width: 180*@x;
      height: 40*@x;
      line-height: 40*@x;
      float: none;
      margin: 0 auto;
      display: block;
    }

    .menu-social {
      top: auto;
      bottom: 68*@x;
      left: 110*@x;
    }
  }

  .placeholder {
    font-size: 24*@x;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    .placeholder();
  }

  ::-moz-placeholder { /* Firefox 19+ */
    .placeholder();
  }

  :-ms-input-placeholder { /* IE 10+ */
    .placeholder();
  }

  :-moz-placeholder { /* Firefox 18- */
    .placeholder();
  }

  input,
  textarea {
    height: 48*@x;
    line-height: 48*@x;
    margin: 0 auto 20*@x;
    font-size: 24*@x;
    padding: 0 10*@x;
  }

  textarea {
    height: 104*@x;
    margin-bottom: 26*@x;
  }


  .copy {
    right: 50%;
    font-size: 12*@x;
    bottom: 24*@x;
    width: 156*@x;
    text-align: center;
  }

  // Icons
  .icon-left(@width, @height, @left, @top) {
    position: absolute !important;
    width: @width;
    height: @height;
    left: @left !important;
    top: @top !important;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .icon-right(@width, @height, @right, @top) {
    position: absolute !important;
    width: @width;
    height: @height;
    left: auto !important;
    right: @right !important;
    top: @top !important;
    background-size: contain;
    background-repeat: no-repeat;
  }

  //Home Left
  .icon-heart, .icon-insta {
    display: none !important;
  }

  .icon-youtube {
    .icon-left(180*@x, 80*@x, 44*@x, 268*@x);
    opacity: .25;
  }

  .icon-facebook {
    .icon-left(40*@x, 40*@x, 30*@x, 420*@x);
    opacity: .5;
  }

  .icon-like {
    .icon-left(60*@x, 60*@x, 166*@x, 30*@x);
    opacity: .5;
  }

  // Home Right
  .icon-facebook-1, .icon-insta-1, .icon-youtube-1, .icon-thumbs, .icon-facebook-2 {
    display: none !important;
  }

  // About Left
  .icon-heart-black {
    .icon-left(95*@x, 84*@x, 280*@x, 350*@x);
  }

  .icon-thumbs-black {
    display: none !important;
  }

  .icon-insta-black {
    .icon-left(35*@x, 35*@x, 13*@x, 380*@x);
  }

  // About right
  .icon-chat, .icon-youtube-black-1 {
    display: none !important;
  }

  .icon-glasses {
    .icon-right(140*@x, 30*@x, -83*@x, 80*@x);
  }

  // Staff Left
  .icon-chat-1 {
    display: none !important;
  }

  .icon-heart-black-1 {
    .icon-left(58*@x, 50*@x, 40*@x, 47*@x);
  }

  .icon-glasses-1 {
    .icon-left(70*@x, 20*@x, 15*@x, 650*@x);
  }

  // Staff right
  .icon-youtube-black-2, .icon-thumbs-black-1 {
    display: none !important;
  }

  .icon-insta-black-1 {
    .icon-right(30*@x, 30*@x, 300*@x, 300*@x);
  }

  // Partners Left
  .icon-chat-2, .icon-youtube-black-3 {
    display: none !important;
  }

  .icon-glasses-2 {
    .icon-left(70*@x, 16*@x, 275*@x, 100*@x);
  }

  // Partners right
  .icon-heart-black-2 {
    .icon-right(50*@x, 50*@x, 290*@x, 377*@x);
  }

  .icon-insta-black-2 {
    .icon-right(27*@x, 27*@x, 306*@x, 50*@x);
  }

  .icon-thumbs-black-2 {
    display: none !important;
  }

  // Contact Left
  .icon-facebook-3, .icon-heart-1, .icon-insta-2 {
    display: none !important;
  }

  // Contact Right
  .icon-youtube-2, .icon-facebook-4, .icon-thumbs-1, .icon-facebook-5 {
    display: none !important;
  }

  // Menu Left
  #iconsParallaxMenu {
    display: none;
    z-index: 2;

    &.showed {
      display: block;
    }
  }

  .icon-heart-2 {
    .icon-left(70*@x, 60*@x, 26*@x, 21*@x);
    background-image: url(../img/parallax/heart_green.png);
    opacity: .5;
  }

  .icon-insta-3 {
    .icon-left(30*@x, 30*@x, 68*@x, 212*@x);
    background-image: url(../img/parallax/insta_green.png);
    opacity: .5;
  }

  .icon-thumbs-2 {
    .icon-left(70*@x, 70*@x, 277*@x, 223*@x);
    background-image: url(../img/parallax/thumbs_green.png);
    opacity: .25;
  }

  .icon-facebook-6 {
    .icon-left(45*@x, 45*@x, 15*@x, 335*@x);
    background-image: url(../img/parallax/fb_green.png);
    opacity: .5;
  }

  // TODO: Green dots (if needed)
  .dots {
    transform: scale(2.1);
    transform-origin: 106% 100%;
  }

  // TODO: Slick Carousel (if needed)
  // Contact
  .contact-trigger {
    display: none;
    /*
    width: 110*@x;
    height: 80*@x;
    top: 150*@x;
    font-size: 16*@x;
    line-height: 110*@x;
    transform: scale(.7);
    transform-origin: 100% 0;
    */
  }

  .contact-form-fixed {
    top: 150*@x;
    width: 485*@x;
    transform: translateX(100%) scale(.7);
    transform-origin: 100% 0;
    height: 455*@x;
    padding: 30*@x 0 0 50*@x;

    &.open {
      transform: translateX(0) scale(.7);
    }

    .close {
      width: 50*@x;
      height: 50*@x;
      top: 30*@x;
    }

    input, textarea {
      width: 394*@x;
    }

    button {
      width: 182*@x;
      margin: 0 20*@x;
    }
  }

  section:not(#section-home):target {
    padding-top: 10vw;
  }

  .arrows-up {
    display: none;
    position: fixed;
    height: 60*@x;
    width: 30*@x;
    //bottom: 10*@x;
    //left: 50%;
    bottom: 20*@x;
    left: 20*@x;
    transform: scaleY(-1); //translateX(-50%)
    z-index: 2;

    &.current {
      display: block;
    }

    .arrow {
      position: absolute;
      top: 0;
      width: 30*@x;
      height: 18*@x;
      background: url(../img/arrow-down.png) top center no-repeat;
      background-size: 100%;
      animation: arrow-opacity 3s infinite;

      &:nth-child(2) {
        top: 20*@x;
        animation: arrow-opacity 3s 1.5s infinite;
      }
    }
  }

  .accessibility_component .btn_accessibility {
    background-image: url(../img/hamburger-bg.png) !important;
    background-color: transparent !important;
    background-size: 100%;
    position: absolute;
    z-index: 2;
    right: 20*@x;
    top: auto !important;
    bottom: 15*@x;
    width: 36*@x;
    height: 36*@x;
    border-radius: 0 !important;
    box-shadow: 0 0 0 transparent !important;

    img {
      width: 80%;
      padding-top: 4*@x;
    }

    &:before, &:after {
      display: none;
    }

    &:hover, &:focus {
      background-color: transparent !important;
      box-shadow: 0 0 0 transparent !important;
      /*outline: 3px solid #5E9ED6 !important;*/
    }
  }
}
