@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  src: local('Assistant Light'), local('Assistant-Light'), url(https://fonts.gstatic.com/s/assistant/v3/2sDZZGJYnIjSi6H75xk7w0esBp0d.ttf) format('truetype');
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  src: local('Assistant'), local('Assistant-Regular'), url(https://fonts.gstatic.com/s/assistant/v3/2sDcZGJYnIjSi6H75xkzamW8.ttf) format('truetype');
}
.mobile-only {
  display: none;
}
body {
  margin: 0;
  font-size: 1.25vw;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
  direction: rtl;
  color: #001c14;
  background: #abd038;
}
input,
textarea,
select,
button {
  font-family: 'Assistant', sans-serif;
}
ul {
  padding: 0;
  margin: 0;
}
.button-yellow {
  background: #ffd92a;
  position: relative;
  color: #001c14;
  font-weight: 400;
  font-size: 1.5625vw;
  text-align: center;
  text-decoration: none;
  height: 2.08333333vw;
  line-height: 2.08333333vw;
  cursor: pointer;
  padding: 0;
  transition: all 0.5s;
}
.button-yellow:hover {
  background: #abd038;
}
.button-yellow:hover:before,
.button-yellow:hover:after {
  background: #abd038;
}
.button-yellow:before {
  top: -0.26041667vw;
}
.button-yellow:after {
  bottom: -0.26041667vw;
}
.button-yellow:before,
.button-yellow:after {
  content: '';
  position: absolute;
  right: 0.26041667vw;
  left: 0.26041667vw;
  height: 0.26041667vw;
  background: #ffd92a;
  transition: all 0.5s;
}
.nav-main {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 3.38541667vw;
  z-index: 10;
}
.nav-main:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #001c14;
  transition: opacity 0.3s;
  opacity: 0;
  z-index: -1;
}
.nav-main .container {
  width: 57.29166667vw;
  margin: 0.78125vw auto;
}
.nav-main .wrapper-flex {
  justify-content: space-between;
  display: flex;
  transition: 0.2s width;
  float: left;
  width: 100%;
}
.nav-main .logo {
  float: right;
  height: 1.97916667vw;
  width: 0;
  transition: 0.2s width;
}
.nav-main.semifixed:before {
  opacity: 1;
}
.nav-main.semifixed a:after {
  bottom: 0;
  height: 0.15625vw;
}
.nav-main.fixed .wrapper-flex {
  width: 49.47916667vw;
}
.nav-main.fixed .logo {
  width: 4.01041667vw;
  animation: 0.5s logo-moving-right forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes logo-moving-right {
  from {
    margin: 0 7.8125vw 0 -7.8125vw;
    opacity: 0;
  }
  to {
    margin: 0 0 0 -4.01041667vw;
    opacity: 1;
  }
}
.menu-main {
  font-size: 1.5625vw;
  color: #fff;
  list-style: none;
  height: 2.60416667vw;
  display: flex;
  justify-content: space-between;
  width: 31.51041667vw;
}
.menu-main li {
  display: inline-block;
  position: relative;
}
.menu-main a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}
.menu-main a:after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: 0.52083333vw;
  right: 50%;
  left: 50%;
  width: 0;
  transition: 0.25s;
  height: 0.10416667vw;
  background: #ffd92a;
}
.menu-main a:hover:after {
  width: 100%;
  right: 0;
  left: 0;
}
.menu-main .current:after {
  width: 100%;
  right: 0;
  left: 0;
}
.menu-social {
  width: 13.02083333vw;
  text-align: left;
}
.menu-social li {
  display: inline-block;
}
.menu-social a {
  text-indent: 100vw;
  overflow: hidden;
  width: 1.875vw;
  height: 1.875vw;
  display: inline-block;
  margin: 0 0.26041667vw;
  transition: all 0.5s;
}
.menu-social a:hover {
  transform: scale(1.1);
}
.menu-social a.instagram {
  background: url(../img/instagram.png);
  background-size: 100%;
}
.menu-social a.facebook {
  background: url(../img/facebook.png);
  background-size: 100%;
}
.menu-social a.youtube {
  background: url(../img/youtube.png);
  background-size: 100%;
  margin: 0 0.36458333vw;
}
.hamburger {
  display: none;
}
.logo {
  background: url(../img/logo.png) no-repeat center center;
  background-size: 100%;
  width: 23.90625vw;
  height: 10.625vw;
  font-size: 1.97916667vw;
  line-height: 19.79166667vw;
  letter-spacing: 0.15625vw;
  text-align: right;
  color: #fce129;
  text-decoration: none;
  text-transform: uppercase;
}
.scroll-leaves {
  position: fixed;
  top: 14.58333333vw;
  left: 1.45833333vw;
  z-index: 2;
  list-style: none;
}
.leaf {
  width: 2.03125vw;
  height: 2.03125vw;
  background: url(../img/scrollleaf.png) bottom center;
  background-size: 100% 200%;
  margin: 0.26041667vw 0;
  opacity: 0.8;
}
.leaf > a {
  display: block;
  width: 2.03125vw;
  height: 2.03125vw;
  text-indent: 100vw;
  overflow: hidden;
  transition: all 0.5s;
}
.leaf:hover {
  opacity: 1;
}
.leaf.current {
  background-position: top center;
  opacity: 1;
}
/* Typography */
section h2 {
  margin: 0;
  padding-top: 4.6875vw;
  font-size: 3.75vw;
  font-weight: 400;
  text-align: center;
  color: #001c14;
}
.content {
  overflow: hidden;
}
#section-home {
  height: 41.66666667vw;
  position: relative;
  background: #001c14 url(../img/bg-home.jpg) center center;
  background-size: cover;
}
#section-home .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5.3125vw 0 0 -11.97916667vw;
  overflow: hidden;
}
#section-home .spot {
  position: absolute;
  right: -3.64583333vw;
  top: 8.59375vw;
  width: 15.41666667vw;
  top: 12.76041667vw;
  height: 24.32291667vw;
  background: url(../img/spot.png) no-repeat;
  background-size: 100%;
}
#section-home .arrows-down {
  position: absolute;
  height: 3.125vw;
  top: 32.29166667vw;
  left: 50%;
  transform: translateX(-50%);
}
#section-home .arrows-down .arrow {
  position: absolute;
  top: 0;
  width: 1.5625vw;
  height: 0.9375vw;
  background: url(../img/arrow-down.png) top center no-repeat;
  background-size: 100%;
  animation: arrow-opacity 3s infinite;
}
#section-home .arrows-down .arrow:nth-child(2) {
  top: 1.04166667vw;
  animation: arrow-opacity 3s 1.5s infinite;
}
@keyframes arrow-opacity {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
#section-about {
  background: #abd038;
  height: 36.97916667vw;
  position: relative;
}
#section-about p {
  font-size: 1.25vw;
  line-height: 1.5625vw;
  color: #fff;
  width: 49.21875vw;
  margin: 2.08333333vw auto 3.125vw;
  text-align: center;
}
.couple-girl {
  position: absolute;
  right: -6.61458333vw;
  bottom: 4.53125vw;
  width: 6.61458333vw;
  height: 11.97916667vw;
  background: url(../img/couple-girl.png);
  background-size: 100%;
  transition: all 1.5s;
}
.couple-girl.current {
  right: 42.91666667vw;
}
.couple-boy {
  position: absolute;
  left: -6.61458333vw;
  bottom: 4.53125vw;
  width: 6.61458333vw;
  height: 11.14583333vw;
  background: url(../img/couple-boy.png) no-repeat;
  background-size: 100%;
  transition: all 1.5s;
}
.couple-boy.current {
  left: 40.36458333vw;
}
.couple-shadow {
  position: absolute;
  width: 18.85416667vw;
  height: 1.04166667vw;
  bottom: -1.04166667vw;
  right: 40.625vw;
  background: url(../img/couple-shadow.png) top center no-repeat;
  background-size: 100%;
  transition: all 1.5s;
}
.couple-shadow.current {
  bottom: 4.01041667vw;
}
#section-services {
  background: #001c14;
  height: 44.79166667vw;
  position: relative;
}
#section-services h2 {
  color: #ffd92a;
}
#section-services .list-services {
  width: 72.91666667vw;
  margin: 5.20833333vw auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
#section-services .item-services {
  font-size: 1.5625vw;
  color: #b1b1b1;
  width: 22.39583333vw;
  text-align: center;
  margin-bottom: 5.20833333vw;
  position: relative;
  cursor: pointer;
}
#section-services .item-services:hover div[class^="icon-"] {
  transform: scale(1.3);
  transition: all 0.2s;
}
#section-services .item-services:hover .balloon {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
#section-services .balloon {
  position: absolute;
  opacity: 0;
  width: 19.79166667vw;
  height: auto;
  box-sizing: border-box;
  padding: 0.26041667vw 0.26041667vw 1.5625vw;
  background: url(../img/balloon.png) bottom center no-repeat;
  background-size: 100% auto;
  bottom: 110%;
  left: 50%;
  font-size: 0.9375vw;
  color: #fff;
  transform: translateX(-50%) scale(0.5);
  transition: all 0.2s;
}
#section-services .balloon:before {
  content: '';
  background: #abd038;
  top: -0.26041667vw;
  right: 0.26041667vw;
  left: 0.26041667vw;
  height: 0.26041667vw;
  position: absolute;
}
.icon-chart,
.icon-ch,
.icon-play,
.icon-shirt,
.icon-star {
  margin: 0 auto 1.5625vw;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 3.64583333vw;
  height: 3.64583333vw;
}
.icon-chart {
  background-image: url(../img/icon_chart.png);
}
.icon-ch {
  background-image: url(../img/icon_chat.png);
}
.icon-shirt {
  background-image: url(../img/icon_shirt.png);
}
.icon-star {
  background-image: url(../img/icon_star.png);
}
.icon-play {
  background-image: url(../img/icon_play.png);
}
#section-staff {
  background: #abd038;
  height: 32.29166667vw;
  position: relative;
}
#section-staff .list-staff {
  width: 55.20833333vw;
  margin: 4.16666667vw auto 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
#section-staff .list-staff:before,
#section-staff .list-staff:after {
  display: none;
}
#section-staff .list-staff .slick-prev {
  top: 3.90625vw;
  left: -2.08333333vw;
}
#section-staff .list-staff .slick-prev .svg-arrow {
  fill: #001c14;
}
#section-staff .list-staff .slick-prev:hover .svg-arrow {
  fill: #ffd92a;
}
#section-staff .list-staff .slick-next {
  top: 3.90625vw;
  right: -2.08333333vw;
  left: auto;
}
#section-staff .list-staff .slick-next .svg-arrow {
  fill: #001c14;
}
#section-staff .list-staff .slick-next:hover .svg-arrow {
  fill: #ffd92a;
}
#section-staff .item-staff {
  font-size: 1.5625vw;
  color: #b1b1b1;
  width: 11.45833333vw;
  text-align: center;
}
#section-staff .item-staff .name {
  color: #001c14;
  font-weight: 500;
  margin: 1.04166667vw 0 0;
  line-height: 1;
}
#section-staff .item-staff .role {
  font-size: 1.09375vw;
  color: #fff;
  margin: 0;
}
.person {
  height: 8.33333333vw;
  width: 7.29166667vw;
  margin: 0 auto;
  position: relative;
}
.person:hover img {
  filter: none;
  -webkit-filter: none;
}
.person img {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 7.29166667vw;
  left: 0;
  transition: all 0.5s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#section-bag {
  background: #001c14;
  height: 44.79166667vw;
  position: relative;
}
#section-bag h2 {
  color: #ffd92a;
}
#section-bag .button-yellow {
  display: block;
  margin: 2.34375vw auto 0;
  width: 9.375vw;
}
#section-partners {
  background: #abd038;
  position: relative;
  padding-bottom: 5.20833333vw;
}
.list-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 2.08333333vw auto 0;
  width: 57.29166667vw;
}
.item-logos {
  width: 10.41666667vw;
  height: 5.72916667vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-logos img {
  max-width: 8.33333333vw;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s;
}
.item-logos img:hover {
  -webkit-filter: none;
  filter: none;
}
#section-contact {
  height: 29.16666667vw;
  background: url(../img/bg-contact.jpg);
  background-size: cover;
  position: relative;
}
#section-contact .character-boy {
  position: absolute;
  width: 6.19791667vw;
  height: 11.14583333vw;
  right: 26.04166667vw;
  top: 8.22916667vw;
  background: url(../img/character-boy.png);
  background-size: 100%;
}
#section-contact .character-girl {
  position: absolute;
  width: 11.14583333vw;
  height: 11.14583333vw;
  left: 23.95833333vw;
  top: 8.85416667vw;
  background: url(../img/character-girl.png);
  background-size: 100%;
}
#section-contact form {
  width: 26.04166667vw;
  margin: 0 auto;
  padding-top: 5.20833333vw;
}
#section-contact .button-yellow {
  border: 0;
  width: 9.375vw;
  padding: 0;
  height: 2.08333333vw;
  line-height: 2.08333333vw;
  margin: 0;
  float: left;
}
#section-contact .menu-social {
  position: absolute;
  left: 21.35416667vw;
  bottom: 0.26041667vw;
}
.placeholder {
  color: #b1b1b1;
  font-size: 1.25vw;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  opacity: 1;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b1b1b1;
  font-size: 1.25vw;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  opacity: 1;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #b1b1b1;
  font-size: 1.25vw;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  opacity: 1;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #b1b1b1;
  font-size: 1.25vw;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #b1b1b1;
  font-size: 1.25vw;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  opacity: 1;
}
input,
textarea {
  box-sizing: border-box;
  height: 2.5vw;
  line-height: 2.5vw;
  background: #001c14;
  border: 2px solid #b1b1b1;
  display: block;
  margin: 0 auto 1.04166667vw;
  width: 100%;
  font-size: 1.25vw;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  padding: 0 0.52083333vw;
  color: #b1b1b1;
}
textarea {
  height: 5.41666667vw;
  margin-bottom: 1.35416667vw;
}
.copy {
  font-size: 0.9375vw;
  font-family: 'Assistant', sans-serif;
  color: #b1b1b1;
  position: absolute;
  bottom: 1.25vw;
  right: 32.29166667vw;
  transform: translateX(50%);
  direction: ltr;
  text-transform: uppercase;
}
#viewport {
  height: 100vh;
  position: absolute;
  z-index: -100;
  top: 0;
  right: 0;
}
#iconsParallaxHome,
#iconsParallaxAbout,
#iconsParallaxStaff,
#iconsParallaxPartners,
#iconsParallaxContact,
#iconsParallaxMenu {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  animation: breathe 5s infinite;
  transform-origin: 100% 50%;
}
#iconsParallaxHome {
  bottom: auto;
  height: 100vh;
}
@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.008);
  }
  100% {
    transform: scale(1);
  }
}
.icon-heart {
  position: absolute !important;
  width: 4.89583333vw;
  height: 4.27083333vw;
  left: 13.59375vw !important;
  top: 4.63541667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/heart_green.png);
  opacity: 0.5;
}
.icon-youtube {
  position: absolute !important;
  width: 16.25vw;
  height: 6.82291667vw;
  left: 6.25vw !important;
  top: 23.4375vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/youtube_green.png);
  opacity: 0.25;
}
.icon-facebook {
  position: absolute !important;
  width: 2.23958333vw;
  height: 2.23958333vw;
  left: 25.52083333vw !important;
  top: 20.05208333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/fb_green.png);
  opacity: 0.5;
}
.icon-like {
  position: absolute !important;
  width: 3.33333333vw;
  height: 3.33333333vw;
  left: 30.98958333vw !important;
  top: 8.59375vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/thumbs_green.png);
  opacity: 0.25;
}
.icon-insta {
  position: absolute !important;
  width: 2.5vw;
  height: 2.5vw;
  left: 39.0625vw !important;
  top: 8.33333333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/insta_green.png);
}
.icon-facebook-1 {
  position: absolute !important;
  width: 2.39583333vw;
  height: 2.39583333vw;
  left: auto !important;
  right: 31.875vw !important;
  top: 4.58333333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/fb_green.png);
  opacity: 0.5;
}
.icon-insta-1 {
  position: absolute !important;
  width: 1.5625vw;
  height: 1.5625vw;
  left: auto !important;
  right: 13.28125vw !important;
  top: 7.03125vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/insta_green.png);
  opacity: 0.5;
}
.icon-youtube-1 {
  position: absolute !important;
  width: 8.33333333vw;
  height: 3.90625vw;
  left: auto !important;
  right: 21.61458333vw !important;
  top: 10.9375vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/youtube_green.png);
}
.icon-thumbs {
  position: absolute !important;
  width: 6.77083333vw;
  height: 6.77083333vw;
  left: auto !important;
  right: 18.22916667vw !important;
  top: 22.13541667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/thumbs_green.png);
  opacity: 0.25;
}
.icon-facebook-2 {
  position: absolute !important;
  width: 2.76041667vw;
  height: 2.76041667vw;
  left: auto !important;
  right: 30vw !important;
  top: 26.82291667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/fb_green.png);
}
.icon-heart-black {
  position: absolute !important;
  width: 4.94791667vw;
  height: 4.375vw;
  left: 10.41666667vw !important;
  top: 6.77083333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/heart_black.png);
}
.icon-thumbs-black {
  position: absolute !important;
  width: 6.51041667vw;
  height: 6.61458333vw;
  left: 4.42708333vw !important;
  top: 15.625vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/thumbs_black.png);
}
.icon-insta-black {
  position: absolute !important;
  width: 1.82291667vw;
  height: 1.82291667vw;
  left: 17.03125vw !important;
  top: 23.54166667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/insta_black.png);
}
.icon-chat {
  position: absolute !important;
  width: 5.625vw;
  height: 5.625vw;
  left: auto !important;
  right: 12.29166667vw !important;
  top: 6.71875vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/chat_black.png);
}
.icon-glasses {
  position: absolute !important;
  width: 7.29166667vw;
  height: 1.5625vw;
  left: auto !important;
  right: 3.64583333vw !important;
  top: 17.70833333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/glasses_black.png);
}
.icon-youtube-black-1 {
  position: absolute !important;
  width: 8.33333333vw;
  height: 4.16666667vw;
  left: auto !important;
  right: 13.02083333vw !important;
  top: 24.47916667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/youtube_black.png);
}
.icon-chat-1 {
  position: absolute !important;
  width: 5.625vw;
  height: 5.625vw;
  left: 2.65625vw !important;
  top: 6.61458333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/chat_black.png);
}
.icon-heart-black-1 {
  position: absolute !important;
  width: 5.72916667vw;
  height: 4.53125vw;
  left: 10.78125vw !important;
  top: 13.07291667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/heart_black.png);
}
.icon-glasses-1 {
  position: absolute !important;
  width: 7.29166667vw;
  height: 1.5625vw;
  left: 4.6875vw !important;
  top: 21.97916667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/glasses_black.png);
}
.icon-youtube-black-2 {
  position: absolute !important;
  width: 8.33333333vw;
  height: 4.16666667vw;
  left: auto !important;
  right: 18.33333333vw !important;
  top: 3.54166667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/youtube_black.png);
}
.icon-thumbs-black-1 {
  position: absolute !important;
  width: 6.51041667vw;
  height: 6.61458333vw;
  left: auto !important;
  right: 3.54166667vw !important;
  top: 7.29166667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/thumbs_black.png);
}
.icon-insta-black-1 {
  position: absolute !important;
  width: 1.82291667vw;
  height: 1.82291667vw;
  left: auto !important;
  right: 12.5vw !important;
  top: 21.14583333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/insta_black.png);
}
.icon-chat-2 {
  position: absolute !important;
  width: 5.625vw;
  height: 5.625vw;
  left: 3.64583333vw !important;
  top: 11.97916667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/chat_black.png);
}
.icon-glasses-2 {
  position: absolute !important;
  width: 7.29166667vw;
  height: 1.5625vw;
  left: 11.19791667vw !important;
  top: 18.22916667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/glasses_black.png);
}
.icon-youtube-black-3 {
  position: absolute !important;
  width: 8.33333333vw;
  height: 4.16666667vw;
  left: 5.20833333vw !important;
  top: 25vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/youtube_black.png);
}
.icon-heart-black-2 {
  position: absolute !important;
  width: 5.72916667vw;
  height: 4.53125vw;
  left: auto !important;
  right: 13.28125vw !important;
  top: 5.98958333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/heart_black.png);
}
.icon-insta-black-2 {
  position: absolute !important;
  width: 1.82291667vw;
  height: 1.82291667vw;
  left: auto !important;
  right: 4.6875vw !important;
  top: 15.625vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/insta_black.png);
}
.icon-thumbs-black-2 {
  position: absolute !important;
  width: 6.51041667vw;
  height: 6.61458333vw;
  left: auto !important;
  right: 8.85416667vw !important;
  top: 24.73958333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/thumbs_black.png);
}
.icon-facebook-3 {
  position: absolute !important;
  width: 2.23958333vw;
  height: 2.23958333vw;
  left: 20.52083333vw !important;
  top: 5.98958333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/fb_green.png);
  opacity: 0.5;
}
.icon-heart-1 {
  position: absolute !important;
  width: 4.89583333vw;
  height: 4.27083333vw;
  left: 7.13541667vw !important;
  top: 8.17708333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/heart_green.png);
  opacity: 0.5;
}
.icon-insta-2 {
  position: absolute !important;
  width: 1.45833333vw;
  height: 1.45833333vw;
  left: 16.66666667vw !important;
  top: 23.69791667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/insta_green.png);
  opacity: 0.5;
}
.icon-youtube-2 {
  position: absolute !important;
  width: 8.33333333vw;
  height: 3.90625vw;
  left: auto !important;
  right: 7.1875vw !important;
  top: 4.375vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/youtube_green.png);
}
.icon-facebook-4 {
  position: absolute !important;
  width: 2.60416667vw;
  height: 2.60416667vw;
  left: auto !important;
  right: 19.0625vw !important;
  top: 5.98958333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/fb_green.png);
}
.icon-thumbs-1 {
  position: absolute !important;
  width: 6.77083333vw;
  height: 6.77083333vw;
  left: auto !important;
  right: 10.41666667vw !important;
  top: 14.58333333vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/thumbs_green.png);
  opacity: 0.25;
}
.icon-facebook-5 {
  position: absolute !important;
  width: 2.23958333vw;
  height: 2.23958333vw;
  left: auto !important;
  right: 5.57291667vw !important;
  top: 25.10416667vw !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/parallax/fb_green.png);
  opacity: 0.5;
}
#section-about .dots .dot,
#section-staff .dots .dot {
  background: #001c14;
}
#section-partners .dots .dot {
  background: #0c2820;
}
.dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5.20833333vw;
}
.dots .dot {
  width: 0.52083333vw;
  height: 0.52083333vw;
  position: absolute;
  background: #abd038;
  opacity: 0;
  transition: opacity 0.2s;
}
.dots .dot.visible {
  opacity: 1;
}
.dots .dot:nth-child(2) {
  left: 2.34375vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(3) {
  left: 2.86458333vw;
  bottom: 0;
}
.dots .dot:nth-child(4) {
  left: 2.86458333vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(5) {
  left: 2.86458333vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(6) {
  left: 3.38541667vw;
  bottom: 0;
}
.dots .dot:nth-child(7) {
  left: 3.38541667vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(8) {
  left: 3.90625vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(9) {
  left: 3.90625vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(10) {
  left: 4.42708333vw;
  bottom: 0;
}
.dots .dot:nth-child(11) {
  left: 7.5vw;
  bottom: 0;
}
.dots .dot:nth-child(12) {
  left: 7.5vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(13) {
  left: 8.02083333vw;
  bottom: 0;
}
.dots .dot:nth-child(14) {
  left: 8.02083333vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(15) {
  left: 8.02083333vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(16) {
  left: 8.54166667vw;
  bottom: 0;
}
.dots .dot:nth-child(17) {
  left: 8.54166667vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(18) {
  left: 8.54166667vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(19) {
  left: 8.54166667vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(20) {
  left: 9.0625vw;
  bottom: 0;
}
.dots .dot:nth-child(21) {
  left: 9.0625vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(22) {
  left: 9.0625vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(23) {
  left: 9.0625vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(24) {
  left: 9.58333333vw;
  bottom: 0;
}
.dots .dot:nth-child(25) {
  left: 9.58333333vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(26) {
  left: 9.58333333vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(27) {
  left: 10.10416667vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(28) {
  left: 10.625vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(29) {
  left: 10.625vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(30) {
  left: 11.14583333vw;
  bottom: 0;
}
.dots .dot:nth-child(31) {
  left: 11.66666667vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(32) {
  left: 1.82291667vw;
  bottom: 0;
}
.dots .dot:nth-child(33) {
  left: 15.625vw;
  bottom: 0;
}
.dots .dot:nth-child(34) {
  left: 16.66666667vw;
  bottom: 0;
}
.dots .dot:nth-child(35) {
  left: 17.1875vw;
  bottom: 0;
}
.dots .dot:nth-child(36) {
  left: 17.70833333vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(37) {
  left: 18.75vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(38) {
  left: 19.27083333vw;
  bottom: 0;
}
.dots .dot:nth-child(39) {
  left: 31.97916667vw;
  bottom: 0;
}
.dots .dot:nth-child(40) {
  left: 32.5vw;
  bottom: 0;
}
.dots .dot:nth-child(41) {
  left: 33.02083333vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(42) {
  left: 34.0625vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(43) {
  left: 34.58333333vw;
  bottom: 0;
}
.dots .dot:nth-child(44) {
  left: 35.10416667vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(45) {
  left: 35.625vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(46) {
  left: 36.14583333vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(47) {
  left: 36.14583333vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(48) {
  left: 36.66666667vw;
  bottom: 2.08333333vw;
}
.dots .dot:nth-child(49) {
  left: 37.1875vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(50) {
  left: 37.1875vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(51) {
  left: 37.70833333vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(52) {
  left: 39.79166667vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(53) {
  left: 40.3125vw;
  bottom: 0;
}
.dots .dot:nth-child(54) {
  left: 49.6875vw;
  bottom: 0;
}
.dots .dot:nth-child(55) {
  left: 50.72916667vw;
  bottom: 0;
}
.dots .dot:nth-child(56) {
  left: 60.05208333vw;
  bottom: 0;
}
.dots .dot:nth-child(57) {
  left: 60.57291667vw;
  bottom: 0;
}
.dots .dot:nth-child(58) {
  left: 60.57291667vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(59) {
  left: 61.09375vw;
  bottom: 0;
}
.dots .dot:nth-child(60) {
  left: 61.09375vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(61) {
  left: 61.61458333vw;
  bottom: 0;
}
.dots .dot:nth-child(62) {
  left: 62.13541667vw;
  bottom: 0;
}
.dots .dot:nth-child(63) {
  left: 62.65625vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(64) {
  left: 65.57291667vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(65) {
  left: 82.44791667vw;
  bottom: 0;
}
.dots .dot:nth-child(66) {
  left: 82.96875vw;
  bottom: 0;
}
.dots .dot:nth-child(67) {
  left: 83.48958333vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(68) {
  left: 84.01041667vw;
  bottom: 0;
}
.dots .dot:nth-child(69) {
  left: 84.53125vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(70) {
  left: 85.05208333vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(71) {
  left: 85.05208333vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(72) {
  left: 85.57291667vw;
  bottom: 0;
}
.dots .dot:nth-child(73) {
  left: 85.57291667vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(74) {
  left: 85.57291667vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(75) {
  left: 86.09375vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(76) {
  left: 86.61458333vw;
  bottom: 0;
}
.dots .dot:nth-child(77) {
  left: 86.61458333vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(78) {
  left: 87.13541667vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(79) {
  left: 87.65625vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(80) {
  left: 87.65625vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(81) {
  left: 88.17708333vw;
  bottom: 0;
}
.dots .dot:nth-child(82) {
  left: 88.17708333vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(83) {
  left: 88.69791667vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(84) {
  left: 88.69791667vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(85) {
  left: 88.69791667vw;
  bottom: 2.08333333vw;
}
.dots .dot:nth-child(86) {
  left: 89.21875vw;
  bottom: 0;
}
.dots .dot:nth-child(87) {
  left: 89.21875vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(88) {
  left: 89.21875vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(89) {
  left: 89.21875vw;
  bottom: 2.60416667vw;
}
.dots .dot:nth-child(90) {
  left: 89.73958333vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(91) {
  left: 89.73958333vw;
  bottom: 2.08333333vw;
}
.dots .dot:nth-child(92) {
  left: 90.26041667vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(93) {
  left: 90.26041667vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(94) {
  left: 90.26041667vw;
  bottom: 2.60416667vw;
}
.dots .dot:nth-child(95) {
  left: 90.78125vw;
  bottom: 0;
}
.dots .dot:nth-child(96) {
  left: 90.78125vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(97) {
  left: 90.78125vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(98) {
  left: 90.78125vw;
  bottom: 2.08333333vw;
}
.dots .dot:nth-child(99) {
  left: 91.30208333vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(100) {
  left: 91.30208333vw;
  bottom: 2.60416667vw;
}
.dots .dot:nth-child(101) {
  left: 91.82291667vw;
  bottom: 0;
}
.dots .dot:nth-child(102) {
  left: 91.82291667vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(103) {
  left: 91.82291667vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(104) {
  left: 91.82291667vw;
  bottom: 2.08333333vw;
}
.dots .dot:nth-child(105) {
  left: 92.34375vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(106) {
  left: 92.86458333vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(107) {
  left: 92.86458333vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(108) {
  left: 93.38541667vw;
  bottom: 0;
}
.dots .dot:nth-child(109) {
  left: 93.38541667vw;
  bottom: 2.08333333vw;
}
.dots .dot:nth-child(110) {
  left: 93.90625vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(111) {
  left: 93.90625vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(112) {
  left: 93.90625vw;
  bottom: 2.60416667vw;
}
.dots .dot:nth-child(113) {
  left: 94.42708333vw;
  bottom: 1.04166667vw;
}
.dots .dot:nth-child(114) {
  left: 94.42708333vw;
  bottom: 2.08333333vw;
}
.dots .dot:nth-child(115) {
  left: 94.94791667vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(116) {
  left: 94.94791667vw;
  bottom: 2.08333333vw;
}
.dots .dot:nth-child(117) {
  left: 94.94791667vw;
  bottom: 2.60416667vw;
}
.dots .dot:nth-child(118) {
  left: 95.46875vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(119) {
  left: 95.46875vw;
  bottom: 2.08333333vw;
}
.dots .dot:nth-child(120) {
  left: 95.46875vw;
  bottom: 3.125vw;
}
.dots .dot:nth-child(121) {
  left: 95.98958333vw;
  bottom: 0;
}
.dots .dot:nth-child(122) {
  left: 95.98958333vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(123) {
  left: 95.98958333vw;
  bottom: 2.60416667vw;
}
.dots .dot:nth-child(124) {
  left: 95.98958333vw;
  bottom: 4.16666667vw;
}
.dots .dot:nth-child(125) {
  left: 96.51041667vw;
  bottom: 0;
}
.dots .dot:nth-child(126) {
  left: 96.51041667vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(127) {
  left: 96.51041667vw;
  bottom: 3.64583333vw;
}
.dots .dot:nth-child(128) {
  left: 96.51041667vw;
  bottom: 4.6875vw;
}
.dots .dot:nth-child(129) {
  left: 97.03125vw;
  bottom: 0;
}
.dots .dot:nth-child(130) {
  left: 97.03125vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(131) {
  left: 97.03125vw;
  bottom: 2.08333333vw;
}
.dots .dot:nth-child(132) {
  left: 97.03125vw;
  bottom: 4.16666667vw;
}
.dots .dot:nth-child(133) {
  left: 97.55208333vw;
  bottom: 0;
}
.dots .dot:nth-child(134) {
  left: 97.55208333vw;
  bottom: 2.60416667vw;
}
.dots .dot:nth-child(135) {
  left: 97.55208333vw;
  bottom: 3.64583333vw;
}
.dots .dot:nth-child(136) {
  left: 98.07291667vw;
  bottom: 0;
}
.dots .dot:nth-child(137) {
  left: 98.07291667vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(138) {
  left: 98.59375vw;
  bottom: 0.52083333vw;
}
.dots .dot:nth-child(139) {
  left: 98.59375vw;
  bottom: 3.125vw;
}
.dots .dot:nth-child(140) {
  left: 98.59375vw;
  bottom: 4.6875vw;
}
.dots .dot:nth-child(141) {
  left: 99.11458333vw;
  bottom: 1.5625vw;
}
.dots .dot:nth-child(142) {
  left: 99.11458333vw;
  bottom: 4.16666667vw;
}
.slick-slider {
  direction: ltr;
  width: 66.66666667vw;
  height: 21.875vw;
  position: relative;
  display: block;
  margin: 2.60416667vw auto 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-slider:before,
.slick-slider:after {
  content: '';
  position: absolute;
  left: -1px;
  bottom: -1px;
  top: -1px;
  width: 5.20833333vw;
  background: url(../img/mask-slider.png) left top no-repeat;
  background-size: auto 100%;
  z-index: 2;
}
.slick-slider:after {
  left: auto;
  right: -1px;
  transform: scale(-1);
  background-position: left top;
}
.slide {
  width: 41.97916667vw;
  height: 21.875vw;
}
.slide img {
  width: 40.625vw;
  height: 21.875vw;
  margin: 0 0.67708333vw;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-next,
.slick-prev {
  background: transparent;
  width: 1.5625vw;
  height: 1.30208333vw;
  position: absolute;
  bottom: -4.01041667vw;
  right: 18.22916667vw;
  border: 0;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
}
.slick-next .svg-arrow,
.slick-prev .svg-arrow {
  fill: #ffd92a;
  transition: all 0.5s;
  width: 1.5625vw;
  height: 1.30208333vw;
}
.slick-next:hover .svg-arrow,
.slick-prev:hover .svg-arrow {
  fill: #abd038;
}
.slick-prev {
  right: auto;
  left: 18.22916667vw;
  transform: scaleX(-1);
}
.contact-trigger {
  width: 5.72916667vw;
  height: 4.16666667vw;
  position: fixed;
  top: 7.8125vw;
  right: 0;
  z-index: 2;
}
.contact-trigger span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 0.83333333vw;
  color: #fff;
  line-height: 5.72916667vw;
  text-align: center;
  text-decoration: none;
}
.contact-trigger .contact-trigger-img {
  width: 100%;
  height: 100%;
}
.contact-trigger .bg,
.contact-trigger .cloud,
.contact-trigger span {
  transition: all 0.5s;
}
.contact-trigger:hover .bg {
  fill: #abd038;
}
.contact-trigger:hover .cloud {
  fill: #001c14;
}
.contact-trigger:hover span {
  color: #001c14;
}
.contact-form-fixed {
  position: fixed;
  top: 7.8125vw;
  width: 25.26041667vw;
  right: 0;
  transform: translateX(100%);
  height: 23.69791667vw;
  z-index: 99;
  transition: transform 0.5s;
  background: url(../img/bg-contact-fixed.png);
  background-size: 100%;
  box-sizing: border-box;
  padding: 1.5625vw 0 0 2.60416667vw;
}
.contact-form-fixed.open {
  transform: translateX(0);
}
.contact-form-fixed .close {
  width: 2.60416667vw;
  height: 2.60416667vw;
  position: absolute;
  top: 1.5625vw;
  left: 0;
}
.contact-form-fixed input,
.contact-form-fixed textarea {
  width: 20.52083333vw;
}
.contact-form-fixed button {
  width: 9.47916667vw;
  border: 0;
  margin: 0 1.04166667vw;
}
:focus {
  outline: none;
}
.accessibility_component .btn_accessibility {
  overflow: visible !important;
  background-color: #ffd92a !important;
  border-radius: 0 !important;
  box-shadow: 0 0 0 transparent !important;
  bottom: 1.04166667vw;
  right: 1.04166667vw;
  left: auto;
  top: auto;
  transition: all 0.5s;
  padding: 0;
  height: 2.08333333vw;
  text-align: center;
  line-height: 2.08333333vw;
}
.accessibility_component .btn_accessibility span,
.accessibility_component .btn_accessibility img {
  line-height: 2.08333333vw !important;
  vertical-align: middle !important;
}
.accessibility_component .btn_accessibility:before {
  top: -0.26041667vw;
}
.accessibility_component .btn_accessibility:after {
  bottom: -0.26041667vw;
}
.accessibility_component .btn_accessibility:before,
.accessibility_component .btn_accessibility:after {
  content: '';
  position: absolute;
  right: 0.26041667vw;
  left: 0.26041667vw;
  height: 0.26041667vw;
  background: #ffd92a;
  transition: all 0.5s;
}
.accessibility_component .btn_accessibility:hover,
.accessibility_component .btn_accessibility:focus {
  background-color: #abd038 !important;
  box-shadow: 0 0 0 transparent !important;
  text-decoration: none;
  /*outline: 3px solid #5E9ED6 !important;*/
}
.accessibility_component .btn_accessibility:hover:before,
.accessibility_component .btn_accessibility:focus:before,
.accessibility_component .btn_accessibility:hover:after,
.accessibility_component .btn_accessibility:focus:after {
  background-color: #abd038 !important;
}
.accessibility_component .btn_accessibility .accessibility_component {
  font-family: 'Assistant', sans-serif !important;
}
/*# sourceMappingURL=styles.css.map */