@import url('https://fonts.googleapis.com/css?family=Assistant:300,400&subset=hebrew');

@f: 'Assistant', sans-serif;
@x: 100vw/1920;

@green: #abd038;
@darkgreen: #001c14;
@yellow: #ffd92a;

.mobile-only {
  display: none;
}

body {
  margin: 0;
  font-size: 24*@x;
  font-family: @f;
  font-weight: 300;
  direction: rtl;
  color: @darkgreen;
  background: @green;
}

input, textarea, select, button {
  font-family: @f;
}

ul {
  padding: 0;
  margin: 0;
}

.button-yellow {
  background: @yellow;
  position: relative;
  color: @darkgreen;
  font-weight: 400;
  font-size: 30*@x;
  text-align: center;
  text-decoration: none;
  height: 40*@x;
  line-height: 40*@x;
  cursor: pointer;
  padding: 0;
  transition: all .5s;

  &:hover {
    background: @green;

    &:before, &:after {
      background: @green;
    }
  }

  &:before {
    top: -5*@x;
  }

  &:after {
    bottom: -5*@x;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    right: 5*@x;
    left: 5*@x;
    height: 5*@x;
    background: @yellow;
    transition: all .5s;
  }
}

.nav-main {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  //height: 50*@x;
  height: 65*@x;
  z-index: 10;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: @darkgreen;
    transition: opacity .3s;
    opacity: 0;
    z-index: -1;
  }

  .container {
    width: 1100*@x;
    margin: 15*@x auto;
  }

  .wrapper-flex {
    justify-content: space-between;
    display: flex;
    transition: .2s width;
    float: left;
    width: 100%;
  }

  .logo {
    float: right;
    height: 38*@x;
    width: 0;
    //margin: 0 300*@x 0 -300*@x;
    transition: .2s width;
  }

  &.semifixed {
    &:before {
      opacity: 1;
    }

    a {
      //font-size: 21*@x;
      //font-weight: 700;
      &:after {
        bottom: 0;
        height: 3*@x;
        //background: #fff;
      }
    }
  }

  &.fixed {
    .wrapper-flex {
      width: 950*@x
    }

    .logo {
      width: 77*@x;
      animation: .5s logo-moving-right forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
}

@keyframes logo-moving-right {
  from {
    margin: 0 150*@x 0 -150*@x;
    opacity: 0;
  }
  to {
    margin: 0 0 0 -77*@x;
    opacity: 1;
  }
}

.menu-main {
  font-size: 30*@x;
  color: #fff;
  list-style: none;
  //height: 50*@x;
  height: 50*@x;
  display: flex;
  justify-content: space-between;
  width: 605*@x;

  li {
    display: inline-block;
    position: relative;
  }

  a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    line-height: 1;

    &:after {
      content: ' ';
      display: block;
      position: absolute;
      bottom: 10*@x;
      right: 50%;
      left: 50%;
      width: 0;
      transition: .25s;
      height: 2*@x;
      background: @yellow;
    }

    &:hover:after {
      width: 100%;
      right: 0;
      left: 0;
    }
  }

  .current {
    &:after {
      width: 100%;
      right: 0;
      left: 0;
    }
  }
}

.menu-social {
  width: 250*@x;
  text-align: left;

  li {
    display: inline-block;
  }

  a {
    text-indent: 100vw;
    overflow: hidden;
    width: 36*@x;
    height: 36*@x;
    display: inline-block;
    margin: 0 5*@x;
    transition: all .5s;

    &:hover {
      transform: scale(1.1);
    }

    &.instagram {
      background: url(../img/instagram.png);
      background-size: 100%;
    }

    &.facebook {
      background: url(../img/facebook.png);
      background-size: 100%;
    }

    &.youtube {
      background: url(../img/youtube.png);
      background-size: 100%;
      margin: 0 7*@x;
    }
  }
}

.hamburger {
  display: none;
}

.logo {
  background: url(../img/logo.png) no-repeat center center;
  background-size: 100%;
  width: 459*@x;
  height: 204*@x;
  font-size: 38*@x;
  line-height: 380*@x;
  letter-spacing: 3*@x;
  text-align: right;
  color: #fce129;
  text-decoration: none;
  text-transform: uppercase;
}

.scroll-leaves {
  position: fixed;
  top: 280*@x;
  left: 28*@x;
  //transform: translateY(-50%);
  z-index: 2;
  list-style: none;
}

.leaf {
  width: 39*@x;
  height: 39*@x;
  background: url(../img/scrollleaf.png) bottom center;
  background-size: 100% 200%;
  margin: 5*@x 0;
  opacity: .8;

  & > a {
    display: block;
    width: 39*@x;
    height: 39*@x;
    text-indent: 100vw;
    overflow: hidden;
    transition: all .5s;
  }

  &:hover {
    opacity: 1;
  }

  &.current {
    background-position: top center;
    opacity: 1;
  }
}

/* Typography */
section {
  h2 {
    margin: 0;
    padding-top: 90*@x;
    font-size: 72*@x;
    font-weight: 400;
    text-align: center;
    color: @darkgreen;
  }
}

.content {
  overflow: hidden;
}

#section-home {
  height: 800*@x;
  position: relative;
  background: @darkgreen url(../img/bg-home.jpg) center center;
  background-size: cover;

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -102*@x 0 0 -230*@x;
    overflow: hidden;
  }

  .spot {
    position: absolute;
    right: -70*@x;
    top: 165*@x;
    width: 296*@x;
    top: 245*@x;
    height: 467*@x;
    background: url(../img/spot.png) no-repeat;
    background-size: 100%;
  }

  .arrows-down {
    position: absolute;
    height: 60*@x;
    top: 620*@x;
    left: 50%;
    transform: translateX(-50%);

    .arrow {
      position: absolute;
      top: 0;
      width: 30*@x;
      height: 18*@x;
      background: url(../img/arrow-down.png) top center no-repeat;
      background-size: 100%;
      animation: arrow-opacity 3s infinite;

      &:nth-child(2) {
        top: 20*@x;
        animation: arrow-opacity 3s 1.5s infinite;
      }
    }
  }
}

@keyframes arrow-opacity {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

#section-about {
  background: @green;
  height: 710*@x;
  position: relative;

  p {
    font-size: 24*@x;
    line-height: 30*@x;
    color: #fff;
    width: 945*@x;
    margin: 40*@x auto 60*@x;
    text-align: center;
  }
}

.couple-girl {
  position: absolute;
  right: -127*@x;
  bottom: 87*@x;
  width: 127*@x;
  height: 230*@x;
  background: url(../img/couple-girl.png);
  background-size: 100%;
  transition: all 1.5s;

  &.current {
    right: 824*@x;
  }
}

.couple-boy {
  position: absolute;
  left: -127*@x;
  bottom: 87*@x;
  width: 127*@x;
  height: 214*@x;
  background: url(../img/couple-boy.png) no-repeat;
  background-size: 100%;
  transition: all 1.5s;

  &.current {
    left: 775*@x;
  }
}

.couple-shadow {
  position: absolute;
  width: 362*@x;
  height: 20*@x;
  bottom: -20*@x;
  right: 780*@x;
  background: url(../img/couple-shadow.png) top center no-repeat;
  background-size: 100%;
  transition: all 1.5s;

  &.current {
    bottom: 77*@x;
  }
}

#section-services {
  background: @darkgreen;
  height: 860*@x;
  position: relative;

  h2 {
    color: @yellow;
  }

  .list-services {
    width: 1400*@x;
    margin: 100*@x auto 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
  }

  .item-services {
    font-size: 30*@x;
    color: #b1b1b1;
    width: 430*@x;
    text-align: center;
    margin-bottom: 100*@x;
    position: relative;
    cursor: pointer;

    &:hover {
      div[class^="icon-"] {
        transform: scale(1.3);
        transition: all .2s;
      }

      .balloon {
        opacity: 1;
        transform: translateX(-50%) scale(1);
      }
    }

  }

  .balloon {
    position: absolute;
    opacity: 0;
    width: 380*@x;
    height: auto;
    box-sizing: border-box;
    padding: 5*@x 5*@x 30*@x;
    background: url(../img/balloon.png) bottom center no-repeat;
    background-size: 100% auto;
    bottom: 110%;
    left: 50%;
    font-size: 18*@x;
    color: #fff;
    transform: translateX(-50%) scale(.5);
    transition: all .2s;

    &:before {
      content: '';
      background: @green;
      top: -5*@x;
      right: 5*@x;
      left: 5*@x;
      height: 5*@x;
      position: absolute;
    }
  }
}

.icon-chart, .icon-ch, .icon-play, .icon-shirt, .icon-star {
  margin: 0 auto 30*@x;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 70*@x;
  height: 70*@x;
}

.icon-chart {
  background-image: url(../img/icon_chart.png);
}

.icon-ch {
  background-image: url(../img/icon_chat.png);
}

.icon-shirt {
  background-image: url(../img/icon_shirt.png);
}

.icon-star {
  background-image: url(../img/icon_star.png);
}

.icon-play {
  background-image: url(../img/icon_play.png);
}

#section-staff {
  background: @green;
  height: 620*@x;
  position: relative;

  .list-staff {
    width: 1060*@x;
    margin: 80*@x auto 0;
    display: flex;
    justify-content: space-between;
    list-style: none;

    &:before, &:after {
      display: none;
    }

    .slick-prev {
      top: 75*@x;
      left: -40*@x;

      .svg-arrow {
        fill: @darkgreen;
      }

      &:hover {
        .svg-arrow {
          fill: @yellow;
        }
      }
    }

    .slick-next {
      top: 75*@x;
      right: -40*@x;
      left: auto;

      .svg-arrow {
        fill: @darkgreen;
      }

      &:hover {
        .svg-arrow {
          fill: @yellow;
        }
      }
    }
  }

  .item-staff {
    font-size: 30*@x;
    color: #b1b1b1;
    width: 220*@x;
    text-align: center;

    .name {
      color: @darkgreen;
      font-weight: 500;
      margin: 20*@x 0 0;
      line-height: 1;
    }

    .role {
      font-size: 21*@x;
      color: #fff;
      margin: 0;
    }
  }
}

.person {
  height: 160*@x;
  width: 140*@x;
  margin: 0 auto;
  position: relative;

  &:hover {
    img {
      filter: none;
      -webkit-filter: none;
    }
  }

  img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 140*@x;
    left: 0;
    transition: all .5s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

#section-bag {
  background: @darkgreen;
  height: 860*@x;
  position: relative;

  h2 {
    color: @yellow;
  }

  .button-yellow {
    display: block;
    margin: 45*@x auto 0;
    width: 180*@x;
  }
}

#section-partners {
  background: @green;
  //height: 700*@x;
  position: relative;
  padding-bottom: 100*@x;
}

.list-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 40*@x auto 0;
  width: 1100*@x;
}

.item-logos {
  width: 200*@x;
  height: 110*@x;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 160*@x;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .5s;

    &:hover {
      -webkit-filter: none;
      filter: none;
    }
  }
}

#section-contact {
  height: 560*@x;
  background: url(../img/bg-contact.jpg);
  background-size: cover;
  position: relative;

  .character-boy {
    position: absolute;
    width: 119*@x;
    height: 214*@x;
    right: 500*@x;
    top: 158*@x;
    background: url(../img/character-boy.png);
    background-size: 100%;

  }

  .character-girl {
    position: absolute;
    width: 214*@x;
    height: 214*@x;
    left: 460*@x;
    top: 170*@x;
    background: url(../img/character-girl.png);
    background-size: 100%;
  }

  form {
    width: 500*@x;
    margin: 0 auto;
    padding-top: 100*@x;
  }

  .button-yellow {
    border: 0;
    width: 180*@x;
    padding: 0;
    height: 40*@x;
    line-height: 40*@x;
    margin: 0;
    float: left;
  }

  .menu-social {
    position: absolute;
    left: 410*@x;
    bottom: 5*@x;
  }
}

.placeholder {
  color: #b1b1b1;
  font-size: 24*@x;
  font-family: @f;
  font-weight: 400;
  opacity: 1;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  .placeholder();
}

::-moz-placeholder { /* Firefox 19+ */
  .placeholder();
}

:-ms-input-placeholder { /* IE 10+ */
  .placeholder();
}

:-moz-placeholder { /* Firefox 18- */
  .placeholder();
}

input,
textarea {
  box-sizing: border-box;
  height: 48*@x;
  line-height: 48*@x;
  background: @darkgreen;
  border: 2px solid #b1b1b1;
  display: block;
  margin: 0 auto 20*@x;
  width: 100%;
  font-size: 24*@x;
  font-family: @f;
  font-weight: 400;
  padding: 0 10*@x;
  color: #b1b1b1;
}

textarea {
  height: 104*@x;
  margin-bottom: 26*@x;
}


.copy {
  font-size: 18*@x;
  font-family: @f;
  color: #b1b1b1;
  position: absolute;
  bottom: 24*@x;
  right: 620*@x;
  transform: translateX(50%);
  direction: ltr;
  text-transform: uppercase;
}

#viewport {
  //width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -100;
  top: 0;
  right: 0;
}


// Icons
#iconsParallaxHome, #iconsParallaxAbout, #iconsParallaxStaff, #iconsParallaxPartners, #iconsParallaxContact, #iconsParallaxMenu {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  animation: breathe 5s infinite;
  transform-origin: 100% 50%;
}

#iconsParallaxHome {
  bottom: auto;
  height: 100vh;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.008);
  }
  100% {
    transform: scale(1);
  }
}

.icon-left(@width, @height, @left, @top) {
  position: absolute !important;
  width: @width;
  height: @height;
  left: @left !important;
  top: @top !important;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-right(@width, @height, @right, @top) {
  position: absolute !important;
  width: @width;
  height: @height;
  left: auto !important;
  right: @right !important;
  top: @top !important;
  background-size: contain;
  background-repeat: no-repeat;
}

//Home Left
.icon-heart {
  .icon-left(94*@x, 82*@x, 261*@x, 89*@x);
  background-image: url(../img/parallax/heart_green.png);
  opacity: .5;
}

.icon-youtube {
  .icon-left(312*@x, 131*@x, 120*@x, 450*@x);
  background-image: url(../img/parallax/youtube_green.png);
  opacity: .25;
}

.icon-facebook {
  .icon-left(43*@x, 43*@x, 490*@x, 385*@x);
  background-image: url(../img/parallax/fb_green.png);
  opacity: .5;
}

.icon-like {
  .icon-left(64*@x, 64*@x, 595*@x, 165*@x);
  background-image: url(../img/parallax/thumbs_green.png);
  opacity: .25;
}

.icon-insta {
  .icon-left(48*@x, 48*@x, 750*@x, 160*@x);
  background-image: url(../img/parallax/insta_green.png);
}

// Home Right

.icon-facebook-1 {
  .icon-right(46*@x, 46*@x, 612*@x, 88*@x);
  background-image: url(../img/parallax/fb_green.png);
  opacity: .5;
}

.icon-insta-1 {
  .icon-right(30*@x, 30*@x, 255*@x, 135*@x);
  background-image: url(../img/parallax/insta_green.png);
  opacity: .5;
}

.icon-youtube-1 {
  .icon-right(160*@x, 75*@x, 415*@x, 210*@x);
  background-image: url(../img/parallax/youtube_green.png);
}

.icon-thumbs {
  .icon-right(130*@x, 130*@x, 350*@x, 425*@x);
  background-image: url(../img/parallax/thumbs_green.png);
  opacity: .25;
}

.icon-facebook-2 {
  .icon-right(53*@x, 53*@x, 576*@x, 515*@x);
  background-image: url(../img/parallax/fb_green.png);
}

// About Left
.icon-heart-black {
  .icon-left(95*@x, 84*@x, 200*@x, 130*@x);
  background-image: url(../img/parallax/heart_black.png);
}

.icon-thumbs-black {
  .icon-left(125*@x, 127*@x, 85*@x, 300*@x);
  background-image: url(../img/parallax/thumbs_black.png);
}

.icon-insta-black {
  .icon-left(35*@x, 35*@x, 327*@x, 452*@x);
  background-image: url(../img/parallax/insta_black.png);
}

// About right
.icon-chat {
  .icon-right(108*@x, 108*@x, 236*@x, 129*@x);
  background-image: url(../img/parallax/chat_black.png);
}

.icon-glasses {
  .icon-right(140*@x, 30*@x, 70*@x, 340*@x);
  background-image: url(../img/parallax/glasses_black.png);
}

.icon-youtube-black-1 {
  .icon-right(160*@x, 80*@x, 250*@x, 470*@x);
  background-image: url(../img/parallax/youtube_black.png);
}

// Staff Left
.icon-chat-1 {
  .icon-left(108*@x, 108*@x, 51*@x, 127*@x);
  background-image: url(../img/parallax/chat_black.png);
}

.icon-heart-black-1 {
  .icon-left(110*@x, 87*@x, 207*@x, 251*@x);
  background-image: url(../img/parallax/heart_black.png);
}

.icon-glasses-1 {
  .icon-left(140*@x, 30*@x, 90*@x, 422*@x);
  background-image: url(../img/parallax/glasses_black.png);
}

// Staff right
.icon-youtube-black-2 {
  .icon-right(160*@x, 80*@x, 352*@x, 68*@x);
  background-image: url(../img/parallax/youtube_black.png);
}

.icon-thumbs-black-1 {
  .icon-right(125*@x, 127*@x, 68*@x, 140*@x);
  background-image: url(../img/parallax/thumbs_black.png);
}

.icon-insta-black-1 {
  .icon-right(35*@x, 35*@x, 240*@x, 406*@x);
  background-image: url(../img/parallax/insta_black.png);
}

// Partners Left
.icon-chat-2 {
  .icon-left(108*@x, 108*@x, 70*@x, 230*@x);
  background-image: url(../img/parallax/chat_black.png);
}

.icon-glasses-2 {
  .icon-left(140*@x, 30*@x, 215*@x, 350*@x);
  background-image: url(../img/parallax/glasses_black.png);
}

.icon-youtube-black-3 {
  .icon-left(160*@x, 80*@x, 100*@x, 480*@x);
  background-image: url(../img/parallax/youtube_black.png);
}

// Partners right
.icon-heart-black-2 {
  .icon-right(110*@x, 87*@x, 255*@x, 115*@x);
  background-image: url(../img/parallax/heart_black.png);
}

.icon-insta-black-2 {
  .icon-right(35*@x, 35*@x, 90*@x, 300*@x);
  background-image: url(../img/parallax/insta_black.png);
}

.icon-thumbs-black-2 {
  .icon-right(125*@x, 127*@x, 170*@x, 475*@x);
  background-image: url(../img/parallax/thumbs_black.png);
}

// Contact Left
.icon-facebook-3 {
  .icon-left(43*@x, 43*@x, 394*@x, 115*@x);
  background-image: url(../img/parallax/fb_green.png);
  opacity: .5;
}

.icon-heart-1 {
  .icon-left(94*@x, 82*@x, 137*@x, 157*@x);
  background-image: url(../img/parallax/heart_green.png);
  opacity: .5;
}

.icon-insta-2 {
  .icon-left(28*@x, 28*@x, 320*@x, 455*@x);
  background-image: url(../img/parallax/insta_green.png);
  opacity: .5;
}

// Contact Right
.icon-youtube-2 {
  .icon-right(160*@x, 75*@x, 138*@x, 84*@x);
  background-image: url(../img/parallax/youtube_green.png);
}

.icon-facebook-4 {
  .icon-right(50*@x, 50*@x, 366*@x, 115*@x);
  background-image: url(../img/parallax/fb_green.png);
}

.icon-thumbs-1 {
  .icon-right(130*@x, 130*@x, 200*@x, 280*@x);
  background-image: url(../img/parallax/thumbs_green.png);
  opacity: .25;
}

.icon-facebook-5 {
  .icon-right(43*@x, 43*@x, 107*@x, 482*@x);
  background-image: url(../img/parallax/fb_green.png);
  opacity: .50;
}

// Green dots
#section-about, #section-staff {
  .dots {
    .dot {
      background: @darkgreen;
    }
  }
}

#section-partners {
  .dots {
    .dot {
      background: #0c2820;
    }
  }
}

.dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100*@x;

  .dot {
    width: 10*@x;
    height: 10*@x;
    position: absolute;
    background: @green;
    opacity: 0;
    transition: opacity .2s;

    &.visible {
      opacity: 1;
    }
  }

  // Every dot 2-142
  .dot {
    &:nth-child(2) {
      left: 45*@x;
      bottom: 10*@x;
    }

    &:nth-child(3) {
      left: 55*@x;
      bottom: 0;
    }

    &:nth-child(4) {
      left: 55*@x;
      bottom: 10*@x;
    }

    &:nth-child(5) {
      left: 55*@x;
      bottom: 20*@x;
    }

    &:nth-child(6) {
      left: 65*@x;
      bottom: 0;
    }

    &:nth-child(7) {
      left: 65*@x;
      bottom: 10*@x;
    }

    &:nth-child(8) {
      left: 75*@x;
      bottom: 10*@x;
    }

    &:nth-child(9) {
      left: 75*@x;
      bottom: 20*@x;
    }

    &:nth-child(10) {
      left: 85*@x;
      bottom: 0;
    }

    &:nth-child(11) {
      left: 144*@x;
      bottom: 0;
    }

    &:nth-child(12) {
      left: 144*@x;
      bottom: 10*@x;
    }

    &:nth-child(13) {
      left: 154*@x;
      bottom: 0;
    }

    &:nth-child(14) {
      left: 154*@x;
      bottom: 10*@x;
    }

    &:nth-child(15) {
      left: 154*@x;
      bottom: 20*@x;
    }

    &:nth-child(16) {
      left: 164*@x;
      bottom: 0;
    }

    &:nth-child(17) {
      left: 164*@x;
      bottom: 10*@x;
    }

    &:nth-child(18) {
      left: 164*@x;
      bottom: 20*@x;
    }

    &:nth-child(19) {
      left: 164*@x;
      bottom: 30*@x;
    }

    &:nth-child(20) {
      left: 174*@x;
      bottom: 0;
    }

    &:nth-child(21) {
      left: 174*@x;
      bottom: 10*@x;
    }

    &:nth-child(22) {
      left: 174*@x;
      bottom: 20*@x;
    }

    &:nth-child(23) {
      left: 174*@x;
      bottom: 30*@x;
    }

    &:nth-child(24) {
      left: 184*@x;
      bottom: 0;
    }

    &:nth-child(25) {
      left: 184*@x;
      bottom: 10*@x;
    }

    &:nth-child(26) {
      left: 184*@x;
      bottom: 20*@x;
    }

    &:nth-child(27) {
      left: 194*@x;
      bottom: 20*@x;
    }

    &:nth-child(28) {
      left: 204*@x;
      bottom: 10*@x;
    }

    &:nth-child(29) {
      left: 204*@x;
      bottom: 30*@x;
    }

    &:nth-child(30) {
      left: 214*@x;
      bottom: 0;
    }

    &:nth-child(31) {
      left: 224*@x;
      bottom: 10*@x;
    }

    &:nth-child(32) {
      left: 35*@x;
      bottom: 0;
    }

    &:nth-child(33) {
      left: 300*@x;
      bottom: 0;
    }

    &:nth-child(34) {
      left: 320*@x;
      bottom: 0;
    }

    &:nth-child(35) {
      left: 330*@x;
      bottom: 0;
    }

    &:nth-child(36) {
      left: 340*@x;
      bottom: 10*@x;
    }

    &:nth-child(37) {
      left: 360*@x;
      bottom: 30*@x;
    }

    &:nth-child(38) {
      left: 370*@x;
      bottom: 0;
    }

    &:nth-child(39) {
      left: 614*@x;
      bottom: 0;
    }

    &:nth-child(40) {
      left: 624*@x;
      bottom: 0;
    }

    &:nth-child(41) {
      left: 634*@x;
      bottom: 10*@x;
    }

    &:nth-child(42) {
      left: 654*@x;
      bottom: 10*@x;
    }

    &:nth-child(43) {
      left: 664*@x;
      bottom: 0;
    }

    &:nth-child(44) {
      left: 674*@x;
      bottom: 10*@x;
    }

    &:nth-child(45) {
      left: 684*@x;
      bottom: 20*@x;
    }

    &:nth-child(46) {
      left: 694*@x;
      bottom: 10*@x;
    }

    &:nth-child(47) {
      left: 694*@x;
      bottom: 20*@x;
    }

    &:nth-child(48) {
      left: 704*@x;
      bottom: 40*@x;
    }

    &:nth-child(49) {
      left: 714*@x;
      bottom: 10*@x;
    }

    &:nth-child(50) {
      left: 714*@x;
      bottom: 20*@x;
    }

    &:nth-child(51) {
      left: 724*@x;
      bottom: 10*@x;
    }

    &:nth-child(52) {
      left: 764*@x;
      bottom: 10*@x;
    }

    &:nth-child(53) {
      left: 774*@x;
      bottom: 0;
    }

    &:nth-child(54) {
      left: 954*@x;
      bottom: 0;
    }

    &:nth-child(55) {
      left: 974*@x;
      bottom: 0;
    }

    &:nth-child(56) {
      left: 1153*@x;
      bottom: 0;
    }

    &:nth-child(57) {
      left: 1163*@x;
      bottom: 0;
    }

    &:nth-child(58) {
      left: 1163*@x;
      bottom: 10*@x;
    }

    &:nth-child(59) {
      left: 1173*@x;
      bottom: 0;
    }

    &:nth-child(60) {
      left: 1173*@x;
      bottom: 10*@x;
    }

    &:nth-child(61) {
      left: 1183*@x;
      bottom: 0;
    }

    &:nth-child(62) {
      left: 1193*@x;
      bottom: 0;
    }

    &:nth-child(63) {
      left: 1203*@x;
      bottom: 10*@x;
    }

    &:nth-child(64) {
      left: 1259*@x;
      bottom: 10*@x;
    }

    &:nth-child(65) {
      left: 1583*@x;
      bottom: 0;
    }

    &:nth-child(66) {
      left: 1593*@x;
      bottom: 0;
    }

    &:nth-child(67) {
      left: 1603*@x;
      bottom: 20*@x;
    }

    &:nth-child(68) {
      left: 1613*@x;
      bottom: 0;
    }

    &:nth-child(69) {
      left: 1623*@x;
      bottom: 20*@x;
    }

    &:nth-child(70) {
      left: 1633*@x;
      bottom: 10*@x;
    }

    &:nth-child(71) {
      left: 1633*@x;
      bottom: 30*@x;
    }

    &:nth-child(72) {
      left: 1643*@x;
      bottom: 0;
    }

    &:nth-child(73) {
      left: 1643*@x;
      bottom: 10*@x;
    }

    &:nth-child(74) {
      left: 1643*@x;
      bottom: 20*@x;
    }

    &:nth-child(75) {
      left: 1653*@x;
      bottom: 20*@x;
    }

    &:nth-child(76) {
      left: 1663*@x;
      bottom: 0;
    }

    &:nth-child(77) {
      left: 1663*@x;
      bottom: 20*@x;
    }

    &:nth-child(78) {
      left: 1673*@x;
      bottom: 10*@x;
    }

    &:nth-child(79) {
      left: 1683*@x;
      bottom: 20*@x;
    }

    &:nth-child(80) {
      left: 1683*@x;
      bottom: 30*@x;
    }

    &:nth-child(81) {
      left: 1693*@x;
      bottom: 0;
    }

    &:nth-child(82) {
      left: 1693*@x;
      bottom: 20*@x;
    }

    &:nth-child(83) {
      left: 1703*@x;
      bottom: 10*@x;
    }

    &:nth-child(84) {
      left: 1703*@x;
      bottom: 30*@x;
    }

    &:nth-child(85) {
      left: 1703*@x;
      bottom: 40*@x;
    }

    &:nth-child(86) {
      left: 1713*@x;
      bottom: 0;
    }

    &:nth-child(87) {
      left: 1713*@x;
      bottom: 20*@x;
    }

    &:nth-child(88) {
      left: 1713*@x;
      bottom: 30*@x;
    }

    &:nth-child(89) {
      left: 1713*@x;
      bottom: 50*@x;
    }

    &:nth-child(90) {
      left: 1723*@x;
      bottom: 30*@x;
    }

    &:nth-child(91) {
      left: 1723*@x;
      bottom: 40*@x;
    }

    &:nth-child(92) {
      left: 1733*@x;
      bottom: 10*@x;
    }

    &:nth-child(93) {
      left: 1733*@x;
      bottom: 20*@x;
    }

    &:nth-child(94) {
      left: 1733*@x;
      bottom: 50*@x;
    }

    &:nth-child(95) {
      left: 1743*@x;
      bottom: 0;
    }

    &:nth-child(96) {
      left: 1743*@x;
      bottom: 20*@x;
    }

    &:nth-child(97) {
      left: 1743*@x;
      bottom: 30*@x;
    }

    &:nth-child(98) {
      left: 1743*@x;
      bottom: 40*@x;
    }

    &:nth-child(99) {
      left: 1753*@x;
      bottom: 30*@x;
    }

    &:nth-child(100) {
      left: 1753*@x;
      bottom: 50*@x;
    }

    &:nth-child(101) {
      left: 1763*@x;
      bottom: 0;
    }

    &:nth-child(102) {
      left: 1763*@x;
      bottom: 10*@x;
    }

    &:nth-child(103) {
      left: 1763*@x;
      bottom: 20*@x;
    }

    &:nth-child(104) {
      left: 1763*@x;
      bottom: 40*@x;
    }

    &:nth-child(105) {
      left: 1773*@x;
      bottom: 10*@x;
    }

    &:nth-child(106) {
      left: 1783*@x;
      bottom: 20*@x;
    }

    &:nth-child(107) {
      left: 1783*@x;
      bottom: 30*@x;
    }

    &:nth-child(108) {
      left: 1793*@x;
      bottom: 0;
    }

    &:nth-child(109) {
      left: 1793*@x;
      bottom: 40*@x;
    }

    &:nth-child(110) {
      left: 1803*@x;
      bottom: 10*@x;
    }

    &:nth-child(111) {
      left: 1803*@x;
      bottom: 20*@x;
    }

    &:nth-child(112) {
      left: 1803*@x;
      bottom: 50*@x;
    }

    &:nth-child(113) {
      left: 1813*@x;
      bottom: 20*@x;
    }

    &:nth-child(114) {
      left: 1813*@x;
      bottom: 40*@x;
    }

    &:nth-child(115) {
      left: 1823*@x;
      bottom: 10*@x;
    }

    &:nth-child(116) {
      left: 1823*@x;
      bottom: 40*@x;
    }

    &:nth-child(117) {
      left: 1823*@x;
      bottom: 50*@x;
    }

    &:nth-child(118) {
      left: 1833*@x;
      bottom: 30*@x;
    }

    &:nth-child(119) {
      left: 1833*@x;
      bottom: 40*@x;
    }

    &:nth-child(120) {
      left: 1833*@x;
      bottom: 60*@x;
    }

    &:nth-child(121) {
      left: 1843*@x;
      bottom: 0;
    }

    &:nth-child(122) {
      left: 1843*@x;
      bottom: 30*@x;
    }

    &:nth-child(123) {
      left: 1843*@x;
      bottom: 50*@x;
    }

    &:nth-child(124) {
      left: 1843*@x;
      bottom: 80*@x;
    }

    &:nth-child(125) {
      left: 1853*@x;
      bottom: 0;
    }

    &:nth-child(126) {
      left: 1853*@x;
      bottom: 10*@x;
    }

    &:nth-child(127) {
      left: 1853*@x;
      bottom: 70*@x;
    }

    &:nth-child(128) {
      left: 1853*@x;
      bottom: 90*@x;
    }

    &:nth-child(129) {
      left: 1863*@x;
      bottom: 0;
    }

    &:nth-child(130) {
      left: 1863*@x;
      bottom: 10*@x;
    }

    &:nth-child(131) {
      left: 1863*@x;
      bottom: 40*@x;
    }

    &:nth-child(132) {
      left: 1863*@x;
      bottom: 80*@x;
    }

    &:nth-child(133) {
      left: 1873*@x;
      bottom: 0;
    }

    &:nth-child(134) {
      left: 1873*@x;
      bottom: 50*@x;
    }

    &:nth-child(135) {
      left: 1873*@x;
      bottom: 70*@x;
    }

    &:nth-child(136) {
      left: 1883*@x;
      bottom: 0;
    }

    &:nth-child(137) {
      left: 1883*@x;
      bottom: 30*@x;
    }

    &:nth-child(138) {
      left: 1893*@x;
      bottom: 10*@x;
    }

    &:nth-child(139) {
      left: 1893*@x;
      bottom: 60*@x;
    }

    &:nth-child(140) {
      left: 1893*@x;
      bottom: 90*@x;
    }

    &:nth-child(141) {
      left: 1903*@x;
      bottom: 30*@x;
    }

    &:nth-child(142) {
      left: 1903*@x;
      bottom: 80*@x;
    }
  }
}

// Slick Carousel
.slick-slider {
  direction: ltr;
  width: 1280*@x;
  height: 420*@x;
  position: relative;
  display: block;
  margin: 50*@x auto 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

  &:before, &:after {
    content: '';
    position: absolute;
    left: -1px;
    bottom: -1px;
    top: -1px;
    width: 100*@x;
    background: url(../img/mask-slider.png) left top no-repeat;
    background-size: auto 100%;
    z-index: 2;
  }

  &:after {
    left: auto;
    right: -1px;
    transform: scale(-1);
    background-position: left top;
  }
}

.slide {
  width: 806*@x;
  height: 420*@x;

  img {
    width: 780*@x;
    height: 420*@x;
    margin: 0 13*@x;
  }
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider {
  .slick-track,
  .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }

}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide {
  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-next,
.slick-prev {
  background: transparent;
  width: 30*@x;
  height: 25*@x;
  position: absolute;
  bottom: -77*@x;
  right: 350*@x;
  border: 0;
  overflow: hidden;
  cursor: pointer;
  padding: 0;

  .svg-arrow {
    fill: @yellow;
    transition: all .5s;
    width: 30*@x;
    height: 25*@x;
  }

  &:hover {
    .svg-arrow {
      fill: @green;
    }
  }

}

.slick-prev {
  right: auto;
  left: 350*@x;
  transform: scaleX(-1);
}


// Contact
.contact-trigger {
  width: 110*@x;
  height: 80*@x;
  position: fixed;
  top: 150*@x;
  right: 0;
  z-index: 2;

  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 16*@x;
    color: #fff;
    line-height: 110*@x;
    text-align: center;
    text-decoration: none;
  }

  .contact-trigger-img {
    width: 100%;
    height: 100%;
  }

  .bg, .cloud, span {
    transition: all .5s;
  }

  &:hover {
    .bg {
      fill: @green;
    }

    .cloud {
      fill: @darkgreen;
    }

    span {
      color: @darkgreen;
    }
  }

}


.contact-form-fixed {
  position: fixed;
  top: 150*@x;
  width: 485*@x;
  right: 0;
  transform: translateX(100%);
  height: 455*@x;
  z-index: 99;
  transition: transform .5s;
  background: url(../img/bg-contact-fixed.png);
  background-size: 100%;
  box-sizing: border-box;
  padding: 30*@x 0 0 50*@x;

  &.open {
    transform: translateX(0);
  }

  .close {
    width: 50*@x;
    height: 50*@x;
    position: absolute;
    top: 30*@x;
    left: 0;
  }

  input, textarea {
    width: 394*@x;
  }

  button {
    width: 182*@x;
    border: 0;
    margin: 0 20*@x;
  }
}

:focus {
  outline: none;
}

.accessibility_component .btn_accessibility {
  overflow: visible !important;
  background-color: @yellow !important;
  border-radius: 0 !important;
  box-shadow: 0 0 0 transparent !important;
  bottom: 20*@x;
  right: 20*@x;
  left: auto;
  top: auto;
  transition: all .5s;
  padding: 0;
  height: 40*@x;
  text-align: center;
  line-height: 40*@x;

  span, img {
    line-height: 40*@x !important;
    vertical-align: middle !important;
  }

  &:before {
    top: -5*@x;
  }

  &:after {
    bottom: -5*@x;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    right: 5*@x;
    left: 5*@x;
    height: 5*@x;
    background: @yellow;
    transition: all .5s;
  }

  &:hover, &:focus {
    background-color: @green !important;
    box-shadow: 0 0 0 transparent !important;
    text-decoration: none;
    /*outline: 3px solid #5E9ED6 !important;*/

    &:before, &:after {
      background-color: @green !important;
    }
  }

  .accessibility_component {
    font-family: @f !important;
  }
}